@model AccountViewModel
@{
    Layout = "_AccountLayout.cshtml";
}


<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Your Account</h5>

        <form method="post" asp-action="UpdateAccount">
            <div class="form-group">
                <label for="Name">Prefered Called Name</label>
                <input asp-for="Name" class="form-control" aria-describedby="NameHelp" placeholder="Alex Bird-Person">
                <small id="NameHelp" class="form-text text-muted">How would you like us to address you?</small>
            </div>
            <div class="form-group">
                <label for="Email">Email address</label>
                <input asp-for="Email" class="form-control" aria-describedby="EmailHelp" placeholder="burb@furry.nz">
                <small id="EmailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="Pronouns">Your Prefered Pronouns</label>
                <input asp-for="Pronouns" class="form-control" aria-describedby="PronounsHelp" placeholder="He/Him, Ey/Em">
                <small id="PronounsHelp" class="form-text text-muted">Your prefered pronouns will be included on your badge.</small>
            </div>
            <div class="form-group">
                <label for="DateOfBirth">Your Date of Birth</label>
                <input asp-for="DateOfBirth" class="form-control" aria-describedby="DateOfBirthHelp">
                <small id="DateOfBirthHelp" class="form-text text-muted">We will not share this information outside with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="Pronouns">Allergies</label>
                <textarea asp-for="Allergies" class="form-control" aria-describedby="AllergiesHelp"></textarea>
                <small id="AllergiesHelp" class="form-text text-muted">Do you have any medical allergies that we should be made aware of.</small>
            </div>
            <div class="form-group">
                <label for="DietryRequirements">Dietry Requirements</label>
                <textarea asp-for="DietryRequirements" class="form-control" aria-describedby="DietryRequirementsHelp"></textarea>
                <small id="DietryRequirementsHelp" class="form-text text-muted">Are you vegan, vegeterian, can't stand some types of food?</small>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>
<environment names="Development">
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Your Claims</h5>
            <h6 class="card-subtitle mb-2 text-muted">Visible for development environments only</h6>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var claim in User.Claims)
                    {
                        <tr>
                            <td>@claim.Type</td>
                            <td>@claim.Value</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</environment>