@model AccountViewModel

<h2>
    Account
    <small class="text-muted">@Model.Name</small>
</h2>

<ul class="nav nav-pills mb-3">
    <li class="nav-item">
        <a class="nav-link" asp-active-actions="Index" asp-action="Index">Overview</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-active-actions="Orders" asp-action="Orders">Orders</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-active-actions="Tickets" asp-action="Tickets">Tickets</a>
    </li>
</ul>

@{ 
    if (Model is AccountOrdersViewModel orders)
    {
        await Html.RenderPartialAsync("_Orders", orders);
    }
    else
    {
        await Html.RenderPartialAsync("_Overview", Model);
    }
}