@model FurCoNZ.ViewModels.OrderIndexViewModel
@{
    ViewData["Title"] = "Order Tickets";
}

<form asp-action="Index" method="post">
    <table>
        <tr>
            <th>Type</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Purchase</th>
        </tr>
        @foreach (var ticketType in Model.AvailableTicketTypes)
        {
            <tr>
                <td>@ticketType.Value.Name</td>
                <td>$@((ticketType.Value.PriceCents / 100).ToString("f2"))</td>
                <td>@ticketType.Value.TotalAvailable remaining</td>
                <td>
                    <input asp-for="AvailableTicketTypes[ticketType.Key].QuantityOrdered" min="0" max="@ticketType.Value.TotalAvailable" />
                    @*<input type="number" name="ticketnumber[@ticketType.Key]" value="0" min="0" max="@ticketType.Value.TotalAvailable" />*@
                </td>
            </tr>
        }
    </table>
    <input type="submit" name="submit" value="Details >" />
 </form>