
@{
    ViewData["Title"] = "ActivityOrTalk";
}

<h1>Activity Or Talk</h1>


<p><strong>You may submit more than one event idea, but please submit each event idea separately.</strong></p>
<p>FurCoNZ likes to offer a wide range of activities from educational, inspirational, to emotional, and of course entertaining! But, did you know that nearly all of our activities are suggested and planned by attendees just like you?</p>
<p>We’re looking for attendees who want to lead discussions, panels, or plan activities that can bring like minded individuals together at con!</p>
<p>Let us know what kind of activity you’d like to host at FurCoNZ!</p>
<p><strong>Your name may appear on our activities page and in the conbook.&nbsp;</strong> Please make this consideration when filling in the form.</p>
<p><strong>SOME RECOMMENDATIONS/NOTES REGARDING ACTIVITIES:</strong></p>
<p>
    <ul>
        <li>Keep your activity time slot under 60 minutes. In most cases, panels lasting longer than an hour tend to lose the crowd’s interest.</li>
        <li>Be more general rather than specific. The more narrow a focus your panel topic has, the less likely a large number of people will wish to attend.</li>
        <li>Are you funny? Are you sure? Humour is great, but be sure that your humour is suitable for a wide range of tastes and that it’s not mean-spirited or hateful. We’re inclusive and want our activities to be the same.</li>
        <li>Be part of our theme! Panels that are within the FurCoNZ theme are more likely to be approved.</li>
        <li>Be creative! FurCoNZ is always willing try new activity ideas, so don’t be afraid to submit your idea.</li>
        <li>Is your idea potentially “18+”? “Adult Only” panels due to sexual content will only be permitted to run after 9pm on Thursday, Friday or Saturday. Other types of panels will be permitted throughout the rest of the con schedule.</li>
        <li>Involve the crowd! Activities that allow the crowd to participate in some way are always a good option!</li>
        <li>In some instances, if the same activity submission is made by two or more different individuals, we may ask those panellists to work together to host a panel/event.</li>
    </ul>
</p>
<p>You may submit more than one activity idea, but please submit each activity idea separately.</p>
<p>Not every activity submission will be approved, but they will all certainly be considered and each one will be reviewed by staff.</p>

<section id="yikes-mailchimp-container-2" class="yikes-mailchimp-container yikes-mailchimp-container-2 ">
    <form id="activity-2" class="yikes-easy-mc-form yikes-easy-mc-form-2  " method="POST" data-attr-form-id="2">

        <label for="yikes-easy-mc-form-2-EMAIL" class="EMAIL-label yikes-mailchimp-field-required ">

            <!-- dictate label visibility -->
            <span class="EMAIL-label">
                Email Address
            </span>

            <!-- Description Above -->

            <input id="yikes-easy-mc-form-2-EMAIL" name="EMAIL" placeholder="" class="yikes-easy-mc-email " required="required" type="email" value="">

            <!-- Description Below -->

        </label>
        <label for="yikes-easy-mc-form-2-FNAME" class="FNAME-label yikes-mailchimp-field-required ">

            <!-- dictate label visibility -->
            <span class="FNAME-label">
                First Name
            </span>

            <!-- Description Above -->
            <p class="form-field-description" id="form-field-description-FNAME">Real life First Name</p>
            <input id="yikes-easy-mc-form-2-FNAME" name="FNAME" placeholder="" class="yikes-easy-mc-text " required="required" type="text" value="">

            <!-- Description Below -->

        </label>
        <label for="yikes-easy-mc-form-2-LNAME" class="LNAME-label yikes-mailchimp-field-required ">

            <!-- dictate label visibility -->
            <span class="LNAME-label">
                Last Name
            </span>

            <!-- Description Above -->
            <p class="form-field-description" id="form-field-description-LNAME">Real life Last Name</p>
            <input id="yikes-easy-mc-form-2-LNAME" name="LNAME" placeholder="" class="yikes-easy-mc-text " required="required" type="text" value="">

            <!-- Description Below -->

        </label>
        <label for="yikes-easy-mc-form-2-FURRYNAME" class="FURRYNAME-label yikes-mailchimp-field-required ">

            <!-- dictate label visibility -->
            <span class="FURRYNAME-label">
                Furry Name
            </span>

            <!-- Description Above -->
            <p class="form-field-description" id="form-field-description-FURRYNAME">Preferrably the same as your badge name.</p>
            <input id="yikes-easy-mc-form-2-FURRYNAME" name="FURRYNAME" placeholder="" class="yikes-easy-mc-text " required="required" type="text" value="">

            <!-- Description Below -->

        </label>

        <label for="yikes-easy-mc-form-2-PHONE" class="PHONE-label ">

            <!-- dictate label visibility -->
            <span class="PHONE-label">
                Phone Number
            </span>

            <!-- Description Above -->
            <p class="form-field-description" id="form-field-description-PHONE">In the event we can't reach you by email or social media, we will use this as a last resort to contact you. FurCoNZ will never give out your private information but if there's an emergency and we can't contact you, we may need to text you.</p>
            <input id="yikes-easy-mc-form-2-PHONE" name="PHONE" placeholder="" class="yikes-easy-mc-phone " type="text" data-phone-type="international" title="International Phone Number" pattern="[0-9,-,+]{1,}" value="">

            <!-- Description Below -->

        </label>
        <label for="yikes-easy-mc-form-2-EVENTHOSTS" class="EVENTHOSTS-label yikes-mailchimp-field-required ">

            <!-- dictate label visibility -->
            <span class="EVENTHOSTS-label">
                Event Hosts
            </span>

            <!-- Description Above -->
            <p class="form-field-description" id="form-field-description-EVENTHOSTS">Are you hosting this event yourself? Are you hosting with someone else? Put the host name(s) here (preferred Furry Name)</p>
            <input id="yikes-easy-mc-form-2-EVENTHOSTS" name="EVENTHOSTS" placeholder="" class="yikes-easy-mc-text " required="required" type="text" value="">

            <!-- Description Below -->

        </label>
        <label for="yikes-easy-mc-form-2-EVENTNAME" class="EVENTNAME-label yikes-mailchimp-field-required ">

            <!-- dictate label visibility -->
            <span class="EVENTNAME-label">
                Event Name
            </span>

            <!-- Description Above -->
            <p class="form-field-description" id="form-field-description-EVENTNAME">This is what will show up on the online schedule and other resources.  It should be short and clearly state what attendees should expect at your event.  Ideally, the event name will be no more than 3 or 4 words.</p>
            <input id="yikes-easy-mc-form-2-EVENTNAME" name="EVENTNAME" placeholder="" class="yikes-easy-mc-text " required="required" type="text" value="">

            <!-- Description Below -->

        </label>
        <label for="yikes-easy-mc-form-2-EVENTCAT" class="EVENTCAT-label yikes-mailchimp-field-required ">
            <!-- dictate label visibility -->
            <span class="EVENTCAT-label">
                Event Category
            </span>

            <!-- Description Above -->
            <p class="form-field-description" id="form-field-description-EVENTCAT">What can this event be categorised as?</p>
            <select id="yikes-easy-mc-form-2-EVENTCAT" name="EVENTCAT" class="yikes-easy-mc-dropdown " required="required">
                <option value="">Select...</option>
                <option value="Art">
                    Art
                </option>
                <option value="Comedy">
                    Comedy
                </option>
                <option value="Dance">
                    Dance
                </option>
                <option value="Educational">
                    Educational
                </option>
                <option value="Fursuit">
                    Fursuit
                </option>
                <option value="Gameshow">
                    Gameshow
                </option>
                <option value="Interactive">
                    Interactive
                </option>
                <option value="Meetup">
                    Meetup
                </option>
                <option value="Music">
                    Music
                </option>
                <option value="Outdoors">
                    Outdoors
                </option>
                <option value="Photography and Video">
                    Photography and Video
                </option>
                <option value="Tabletop Gaming">
                    Tabletop Gaming
                </option>
                <option value="Video Gaming">
                    Video Gaming
                </option>
                <option value="Writing">
                    Writing
                </option>
                <option value="Other">
                    Other
                </option>
            </select>

            <!-- Description Below -->

        </label>
        <label for="yikes-easy-mc-form-2-EVENTDESC" class="EVENTDESC-label yikes-mailchimp-field-required ">

            <!-- dictate label visibility -->
            <span class="EVENTDESC-label">
                Event Description
            </span>

            <!-- Description Above -->
            <p class="form-field-description" id="form-field-description-EVENTDESC">This description will be placed in our con book and online schedule or list of events.  Your description should be no more than 3 sentences long and describe what attendees can expect to see, hear, learn, or participate in at your event.</p>
            <input id="yikes-easy-mc-form-2-EVENTDESC" name="EVENTDESC" placeholder="" class="yikes-easy-mc-text " required="required" type="text" value="">

            <!-- Description Below -->

        </label>
        <label for="yikes-easy-mc-form-2-LENGTH" class="option-2-col LENGTH-label yikes-mailchimp-field-required ">

            <!-- dictate label visibility -->
            <span class="LENGTH-label checkbox-parent-label">
                Total Time for Event
            </span>
            <p class="form-field-description" id="form-field-description-LENGTH">How long will your event run? Let us know how long you envision how long the activity will need to be in a space, either indoors or outdoors.</p>										<label for="LENGTH-1" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="LENGTH" id="LENGTH-1" required="required" value="30 minutes">
                <span class="LENGTH-label">30 minutes</span>
            </label>
            <label for="LENGTH-2" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="LENGTH" id="LENGTH-2" required="required" value="1 hour">
                <span class="LENGTH-label">1 hour</span>
            </label>
            <label for="LENGTH-3" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="LENGTH" id="LENGTH-3" required="required" value="1.5 hours">
                <span class="LENGTH-label">1.5 hours</span>
            </label>
            <label for="LENGTH-4" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="LENGTH" id="LENGTH-4" required="required" value="2 hours">
                <span class="LENGTH-label">2 hours</span>
            </label>
            <label for="LENGTH-5" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="LENGTH" id="LENGTH-5" required="required" value="2.5 hours">
                <span class="LENGTH-label">2.5 hours</span>
            </label>
            <label for="LENGTH-6" class="yikes-easy-mc-checkbox-label  last-selection">
                <input type="radio" name="LENGTH" id="LENGTH-6" required="required" value="ALL DAY">
                <span class="LENGTH-label">ALL DAY</span>
            </label>

        </label>
        <label for="yikes-easy-mc-form-2-SETUP" class="option-2-col SETUP-label ">

            <!-- dictate label visibility -->
            <span class="SETUP-label checkbox-parent-label">
                Set up Time Needed
            </span>
            <p class="form-field-description" id="form-field-description-SETUP">How much time is needed to set up for your event?  Do you need to be in the space during the setup?</p>										<label for="SETUP-1" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="SETUP" id="SETUP-1" value="15 minutes">
                <span class="SETUP-label">15 minutes</span>
            </label>
            <label for="SETUP-2" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="SETUP" id="SETUP-2" value="30 minutes">
                <span class="SETUP-label">30 minutes</span>
            </label>
            <label for="SETUP-3" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="SETUP" id="SETUP-3" value="1 hour">
                <span class="SETUP-label">1 hour</span>
            </label>
            <label for="SETUP-4" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="SETUP" id="SETUP-4" value="1.5 hours">
                <span class="SETUP-label">1.5 hours</span>
            </label>
            <label for="SETUP-5" class="yikes-easy-mc-checkbox-label  last-selection">
                <input type="radio" name="SETUP" id="SETUP-5" value="2 hours">
                <span class="SETUP-label">2 hours</span>
            </label>

        </label>
        <label for="yikes-easy-mc-form-2-TEARDOWN" class="option-2-col TEARDOWN-label ">

            <!-- dictate label visibility -->
            <span class="TEARDOWN-label checkbox-parent-label">
                Tear Down Time Needed
            </span>
            <p class="form-field-description" id="form-field-description-TEARDOWN">How much time is needed to tear down or pack away the items for your event? Do you need to be in the space during the setup?</p>										<label for="TEARDOWN-1" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="TEARDOWN" id="TEARDOWN-1" value="15 minutes">
                <span class="TEARDOWN-label">15 minutes</span>
            </label>
            <label for="TEARDOWN-2" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="TEARDOWN" id="TEARDOWN-2" value="30 minutes">
                <span class="TEARDOWN-label">30 minutes</span>
            </label>
            <label for="TEARDOWN-3" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="TEARDOWN" id="TEARDOWN-3" value="1 hour">
                <span class="TEARDOWN-label">1 hour</span>
            </label>
            <label for="TEARDOWN-4" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="TEARDOWN" id="TEARDOWN-4" value="1.5 hours">
                <span class="TEARDOWN-label">1.5 hours</span>
            </label>
            <label for="TEARDOWN-5" class="yikes-easy-mc-checkbox-label  last-selection">
                <input type="radio" name="TEARDOWN" id="TEARDOWN-5" value="2 hours">
                <span class="TEARDOWN-label">2 hours</span>
            </label>

        </label>
        <label for="6a2c3bfb65" class="6a2c3bfb65-label ">
            <!-- dictate label visibility -->
            <span class="6a2c3bfb65-label checkbox-parent-label">
                Additional Equipment
            </span>
            <p class="form-field-description" id="form-field-description-6a2c3bfb65">Do you need anything else to make this activity happen? Let us know here.</p>											<label for="6a2c3bfb65-0" class="yikes-easy-mc-checkbox-label ">
                <input type="checkbox" name="group-6a2c3bfb65[]" id="6a2c3bfb65-0" value="872e087de2">
                Microphone/PA
            </label>
            <label for="6a2c3bfb65-1" class="yikes-easy-mc-checkbox-label ">
                <input type="checkbox" name="group-6a2c3bfb65[]" id="6a2c3bfb65-1" value="260966d2a4">
                Projector &amp; Screen
            </label>
            <label for="6a2c3bfb65-2" class="yikes-easy-mc-checkbox-label ">
                <input type="checkbox" name="group-6a2c3bfb65[]" id="6a2c3bfb65-2" value="74f5493e7d">
                Whiteboard
            </label>
            <label for="6a2c3bfb65-3" class="yikes-easy-mc-checkbox-label  last-selection">
                <input type="checkbox" name="group-6a2c3bfb65[]" id="6a2c3bfb65-3" value="f105f75f1d">
                Full Media Kit (All of the Above)
            </label>

        </label>
        <label for="yikes-easy-mc-form-2-COMMENTS" class="COMMENTS-label ">

            <!-- dictate label visibility -->
            <span class="COMMENTS-label">
                Additional Comments or Requests
            </span>

            <!-- Description Above -->
            <p class="form-field-description" id="form-field-description-COMMENTS">You may request additional equipment for your event.  FurCoNZ staff will do the best they an to ensure requested equipment will be available for your event.  However, this does not guarantee requested equipment will be available for your event.</p>
            <input id="yikes-easy-mc-form-2-COMMENTS" name="COMMENTS" placeholder="" class="yikes-easy-mc-text option-height-200" type="text" value="">

            <!-- Description Below -->

        </label>
        <div class="g-recaptcha" data-sitekey="6LcVdmYUAAAAANxfLaUQj_0m7f7fdMWaMMCRadWp" data-theme="light" data-type="image" data-size="normal" data-callback="" data-expired-callback=""></div>
        <!-- Honeypot Trap -->
        <input type="hidden" name="yikes-mailchimp-honeypot" id="yikes-mailchimp-honeypot-2" value="">

        <!-- List ID -->
        <input type="hidden" name="yikes-mailchimp-associated-list-id" id="yikes-mailchimp-associated-list-id-2" value="a1932bef5f">

        <!-- The form that is being submitted! Used to display error/success messages above the correct form -->
        <input type="hidden" name="yikes-mailchimp-submitted-form" id="yikes-mailchimp-submitted-form-2" value="2">

        <!-- Submit Button -->
        <button type="submit" class="yikes-easy-mc-submit-button yikes-easy-mc-submit-button-2 btn btn-primary "> <span class="yikes-mailchimp-submit-button-span-text">Submit Activity</span></button>				<!-- Nonce Security Check -->
        <input type="hidden" id="yikes_easy_mc_new_subscriber_2" name="yikes_easy_mc_new_subscriber" value="047ccf7207">
        <input type="hidden" name="_wp_http_referer" value="/activity-or-talk/">
    </form>
    <!-- Mailchimp Form generated by Easy Forms for Mailchimp v6.5.4 (https://wordpress.org/plugins/yikes-inc-easy-mailchimp-extender/) -->

</section>

