
@{
    ViewData["Title"] = "Dealers' Den";
}

<h1>Dealers' Den</h1>


<p>Do you have a skill at arts and crafts? Do you draw? Paint? Make things? Bake things?</p>
<p>Sign up to sell at our Dealer’s Den!</p>
<p>Dealer’s Den will run on the full days of FurCoNZ from post-lunch to pre-dinner – approximately 4 hours each day. Your name will appear in the activities list for Dealer’s Den and may be listed in the conbook.</p>
<p>
    <strong>Dealer’s Den Cost:</strong><br>
    <strong>Dealer’s Den is $5 a day.</strong><br>
    <strong>By submitting you agree that you will pay via bank transfer, $5 for each day that you select.&nbsp;</strong> Money collected for Dealer’s Den goes towards your table slot and access to the laminator at registration.&nbsp; Your failure to agree to this statement will preclude you from exhibiting at FurCoNZ.
</p>
<p>
    <strong>Payment Methods:</strong><br>
    <span style="font-size: 1rem;"><strong>Each dealer will be responsible for their own payment methods.</strong> You will need to provide a way for people to purchase your items.&nbsp; </span><span style="font-size: 1rem;">We recommend you have a money box that locks and at least $30 in small bills and coins. We cannot guarantee the availability of wifi or 3G/4G reception for bank transfer or other electronic methods.&nbsp; <strong>There is no ATM on site, so any cash will need to be prepared in advance.</strong>&nbsp; You are required to manage your own payment methods.</span>
</p>
<p>
    <strong>NSFW Agreement:</strong><br>
    <strong>By submitting this form, you agree that all material deemed NSFW at your stall must be either censored from public view, or kept in a seperate viewing area.</strong> Your failure to agree to to this statement will preclude you from exhibiting at the Dealer’s Den.&nbsp; Your failure to censor or hide items deemed NSFW from being publicly viewable on the days that you are scheduled to exhibit at Dealer’s Den will result in you being asked to leave Dealer’s Den.
</p>

<section id="yikes-mailchimp-container-4" class="yikes-mailchimp-container yikes-mailchimp-container-4 ">
    <h3 class="yikes-mailchimp-form-title yikes-mailchimp-form-title-4">Dealer’s Den</h3><section class="yikes-mailchimp-form-description yikes-mailchimp-form-description-4">Sign up for Dealer's Den to sell your art and crafts at FurCoNZ!</section>			<form id="dealers-den-4" class="yikes-easy-mc-form yikes-easy-mc-form-4  " method="POST" data-attr-form-id="4">

        <label for="yikes-easy-mc-form-4-EMAIL" class="EMAIL-label yikes-mailchimp-field-required ">

            <!-- dictate label visibility -->
            <span class="EMAIL-label">
                Email Address
            </span>

            <!-- Description Above -->

            <input id="yikes-easy-mc-form-4-EMAIL" name="EMAIL" placeholder="" class="yikes-easy-mc-email " required="required" type="email" value="">

            <!-- Description Below -->

        </label>
        <label for="yikes-easy-mc-form-4-FNAME" class="FNAME-label ">

            <!-- dictate label visibility -->
            <span class="FNAME-label">
                First Name
            </span>

            <!-- Description Above -->

            <input id="yikes-easy-mc-form-4-FNAME" name="FNAME" placeholder="" class="yikes-easy-mc-text " type="text" value="">

            <!-- Description Below -->

        </label>
        <label for="yikes-easy-mc-form-4-LNAME" class="LNAME-label ">

            <!-- dictate label visibility -->
            <span class="LNAME-label">
                Last Name
            </span>

            <!-- Description Above -->

            <input id="yikes-easy-mc-form-4-LNAME" name="LNAME" placeholder="" class="yikes-easy-mc-text " type="text" value="">

            <!-- Description Below -->

        </label>
        <label for="yikes-easy-mc-form-4-FURRYNAME" class="FURRYNAME-label yikes-mailchimp-field-required ">

            <!-- dictate label visibility -->
            <span class="FURRYNAME-label">
                Furry Name
            </span>

            <!-- Description Above -->

            <input id="yikes-easy-mc-form-4-FURRYNAME" name="FURRYNAME" placeholder="" class="yikes-easy-mc-text " required="required" type="text" value="">

            <!-- Description Below -->

        </label>

        <label for="yikes-easy-mc-form-4-PHONE" style="display:none;" class="PHONE-label ">

            <!-- dictate label visibility -->
            <span class="PHONE-label">
                Phone Number
            </span>

            <!-- Description Above -->

            <input id="yikes-easy-mc-form-4-PHONE" name="PHONE" placeholder="" class="yikes-easy-mc-phone " type="text" data-phone-type="international" title="International Phone Number" pattern="[0-9,-,+]{1,}" value="">

            <!-- Description Below -->

        </label>
        <label for="yikes-easy-mc-form-4-STALLNAME" class="STALLNAME-label yikes-mailchimp-field-required ">

            <!-- dictate label visibility -->
            <span class="STALLNAME-label">
                Stall Name
            </span>

            <!-- Description Above -->

            <input id="yikes-easy-mc-form-4-STALLNAME" name="STALLNAME" placeholder="" class="yikes-easy-mc-text " required="required" type="text" value="">

            <!-- Description Below -->

        </label>

        <label for="yikes-easy-mc-form-4-LINK2ME" class="LINK2ME-label ">

            <!-- dictate label visibility -->
            <span class="LINK2ME-label">
                Website
            </span>

            <!-- Description Above -->

            <input id="yikes-easy-mc-form-4-LINK2ME" name="LINK2ME" placeholder="" class="yikes-easy-mc-url " type="url" title="Please enter a valid URL to the website." value="">

            <!-- Description Below -->

        </label>
        <label for="yikes-easy-mc-form-4-TABLEGOODS" class="TABLEGOODS-label yikes-mailchimp-field-required ">

            <!-- dictate label visibility -->
            <span class="TABLEGOODS-label">
                Table Goods
            </span>

            <!-- Description Above -->
            <p class="form-field-description" id="form-field-description-TABLEGOODS">Tell us about what you'll be offering at your table - hand crafted items? Tails? Paws? Taking Comissions? Let us know here!</p>
            <input id="yikes-easy-mc-form-4-TABLEGOODS" name="TABLEGOODS" placeholder="" class="yikes-easy-mc-text " required="required" type="text" value="">

            <!-- Description Below -->

        </label>
        <label for="yikes-easy-mc-form-4-DAY" class="DAY-label yikes-mailchimp-field-required ">

            <!-- dictate label visibility -->
            <span class="DAY-label checkbox-parent-label">
                Day Choice
            </span>
            <p class="form-field-description" id="form-field-description-DAY">Choose your preferred day(s) to exhibit.</p>										<label for="DAY-1" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="DAY" id="DAY-1" required="required" value="Friday (4 hrs)">
                <span class="DAY-label">Friday (4 hrs)</span>
            </label>
            <label for="DAY-2" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="DAY" id="DAY-2" required="required" value="Saturday (4 hrs)">
                <span class="DAY-label">Saturday (4 hrs)</span>
            </label>
            <label for="DAY-3" class="yikes-easy-mc-checkbox-label  last-selection">
                <input type="radio" name="DAY" id="DAY-3" required="required" value="Friday and Saturday (4 hrs each day)">
                <span class="DAY-label">Friday and Saturday (4 hrs each day)</span>
            </label>

        </label>
        <label for="yikes-easy-mc-form-4-TABLESIZE" class="TABLESIZE-label yikes-mailchimp-field-required ">

            <!-- dictate label visibility -->
            <span class="TABLESIZE-label checkbox-parent-label">
                Table Size
            </span>
            <label for="TABLESIZE-1" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="TABLESIZE" id="TABLESIZE-1" required="required" value="Half a Table">
                <span class="TABLESIZE-label">Half a Table</span>
            </label>
            <label for="TABLESIZE-2" class="yikes-easy-mc-checkbox-label  last-selection">
                <input type="radio" name="TABLESIZE" id="TABLESIZE-2" required="required" value="Full Table">
                <span class="TABLESIZE-label">Full Table</span>
            </label>

        </label>
        <label for="yikes-easy-mc-form-4-DDTERMS" class="DDTERMS-label yikes-mailchimp-field-required ">
            <!-- dictate label visibility -->
            <span class="DDTERMS-label">
                Dealer's Den Terms and Conditions
            </span>

            <!-- Description Above -->
            <p class="form-field-description" id="form-field-description-DDTERMS">I agree to the Terms and Conditions: I will pay $5 for each day I am scheduled at Dealer's Den. I understand that I am responsible for handing my own payment methods. I also agree to hide any NSFW from public view or have it in a separate viewing area.  I recognise that if I fail to adhere to these terms and conditions that staff reserve the right to preclude me from participating in Dealer's Den.</p>
            <select id="yikes-easy-mc-form-4-DDTERMS" name="DDTERMS" class="yikes-easy-mc-dropdown " required="required">
                <option value="">Select...</option>
                <option value="I agree">
                    I agree
                </option>
            </select>

            <!-- Description Below -->

        </label>
        <div class="g-recaptcha" data-sitekey="6LcVdmYUAAAAANxfLaUQj_0m7f7fdMWaMMCRadWp" data-theme="light" data-type="image" data-size="normal" data-callback="" data-expired-callback=""></div>
        <!-- Honeypot Trap -->
        <input type="hidden" name="yikes-mailchimp-honeypot" id="yikes-mailchimp-honeypot-4" value="">

        <!-- List ID -->
        <input type="hidden" name="yikes-mailchimp-associated-list-id" id="yikes-mailchimp-associated-list-id-4" value="a108e3f393">

        <!-- The form that is being submitted! Used to display error/success messages above the correct form -->
        <input type="hidden" name="yikes-mailchimp-submitted-form" id="yikes-mailchimp-submitted-form-4" value="4">

        <!-- Submit Button -->
        <button type="submit" class="yikes-easy-mc-submit-button yikes-easy-mc-submit-button-4 btn btn-primary "> <span class="yikes-mailchimp-submit-button-span-text">Sign Up!</span></button>				<!-- Nonce Security Check -->
        <input type="hidden" id="yikes_easy_mc_new_subscriber_4" name="yikes_easy_mc_new_subscriber" value="047ccf7207">
        <input type="hidden" name="_wp_http_referer" value="/dealers-den/">
    </form>
    <!-- Mailchimp Form generated by Easy Forms for Mailchimp v6.5.4 (https://wordpress.org/plugins/yikes-inc-easy-mailchimp-extender/) -->

</section>

