
@{
    ViewData["Title"] = "Dealers' Den";
}

<h1>Dealers' Den</h1>


<p>Do you have a skill at arts and crafts? Do you draw? Paint? Make things? Bake things?</p>
<p>Sign up to sell at our Dealer’s Den!</p>
<p>Dealer’s Den will run on the full days of FurCoNZ from post-lunch to pre-dinner – approximately 4 hours each day. Your name will appear in the activities list for Dealer’s Den and may be listed in the conbook.</p>
<p>
    <strong>Dealer’s Den Cost:</strong><br>
    <strong>Dealer’s Den is $5 a day.</strong><br>
    <strong>By submitting you agree that you will pay via bank transfer, $5 for each day that you select.&nbsp;</strong> Money collected for Dealer’s Den goes towards your table slot and access to the laminator at registration.&nbsp; Your failure to agree to this statement will preclude you from exhibiting at FurCoNZ.
</p>
<p>
    <strong>Payment Methods:</strong><br>
    <span style="font-size: 1rem;"><strong>Each dealer will be responsible for their own payment methods.</strong> You will need to provide a way for people to purchase your items.&nbsp; </span><span style="font-size: 1rem;">We recommend you have a money box that locks and at least $30 in small bills and coins. We cannot guarantee the availability of wifi or 3G/4G reception for bank transfer or other electronic methods.&nbsp; <strong>There is no ATM on site, so any cash will need to be prepared in advance.</strong>&nbsp; You are required to manage your own payment methods.</span>
</p>
<p>
    <strong>NSFW Agreement:</strong><br>
    <strong>By submitting this form, you agree that all material deemed NSFW at your stall must be either censored from public view, or kept in a seperate viewing area.</strong> Your failure to agree to to this statement will preclude you from exhibiting at the Dealer’s Den.&nbsp; Your failure to censor or hide items deemed NSFW from being publicly viewable on the days that you are scheduled to exhibit at Dealer’s Den will result in you being asked to leave Dealer’s Den.
</p>

<!-- Begin Mailchimp Signup Form -->

<div class="card">
    <div id="mc_embed_signup" class="card-body">
        <form action="https://furconz.us17.list-manage.com/subscribe/post?u=4be0f7d7e6414f6a1a8c7fe73&amp;id=a108e3f393" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                <div class="form-group">
                    <label for="mce-EMAIL">
                        Email Address  <span class="asterisk">*</span>
                    </label>
                    <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" required>
                </div>
                <div class="form-group">
                    <label for="mce-FNAME">First Name </label>
                    <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME">
                </div>
                <div class="form-group">
                    <label for="mce-LNAME">Last Name </label>
                    <input type="text" value="" name="LNAME" class="form-control" id="mce-LNAME">
                </div>
                <div class="form-group">
                    <label for="mce-FURRYNAME">
                        Furry Name  <span class="asterisk">*</span>
                    </label>
                    <input type="text" value="" name="FURRYNAME" class="form-control" id="mce-FURRYNAME" required>
                </div>
                <div class="form-group col-sm-6 p-0">
                    <label for="mce-PHONE">Phone Number </label>
                    <input type="text" name="PHONE" class="form-control" value="" id="mce-PHONE">
                </div>
                <div class="form-group">
                    <label for="mce-STALLNAME">
                        Stall Name  <span class="asterisk">*</span>
                    </label>
                    <input type="text" value="" name="STALLNAME" class="form-control" id="mce-STALLNAME" required>
                </div>
                <div class="form-group">
                    <label for="mce-LINK2ME">Website </label>
                    <input type="url" value="" name="LINK2ME" class="form-control" id="mce-LINK2ME">
                </div>
                <div class="form-group">
                    <label for="mce-TABLEGOODS">
                        Table Goods  <span class="asterisk">*</span>
                    </label>
                    <input type="text" value="" name="TABLEGOODS" class="form-control" id="mce-TABLEGOODS" required>
                </div>
                <div class="form-group">
                    <strong>Day Choice </strong>
                    
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="Friday (4 hrs)" name="DAY" id="mce-DAY-0">
                        <label class="form-check-label" for="mce-DAY-0">Friday (4 hrs)</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="Saturday (4 hrs)" name="DAY" id="mce-DAY-1">
                        <label class="form-check-label" for="mce-DAY-1">Saturday (4 hrs)</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="Friday and Saturday (4 hrs each day)" name="DAY" id="mce-DAY-2">
                        <label class="form-check-label" for="mce-DAY-2">Friday and Saturday (4 hrs each day)</label>
                    </div>
                    
                </div>
                <div class="form-group">
                    <strong>
                        Table Size  <span class="asterisk">*</span>
                    </strong>
                    
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="Half a Table" name="TABLESIZE" id="mce-TABLESIZE-0">
                        <label class="form-check-label" for="mce-TABLESIZE-0">Half a Table</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" value="Full Table" name="TABLESIZE" id="mce-TABLESIZE-1">
                        <label class="form-check-label" for="mce-TABLESIZE-1">Full Table</label>
                    </div>
                    
                </div>
                <div class="form-group">
                    <label for="mce-DDTERMS">
                        Dealer's Den Terms and Conditions  <span class="asterisk">*</span>
                    </label>
                    <select name="DDTERMS" class="form-control" id="mce-DDTERMS" required>
                        <option value=""></option>
                        <option value="I agree">I agree</option>

                    </select>
                </div>

                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4be0f7d7e6414f6a1a8c7fe73_a108e3f393" tabindex="-1" value=""></div>
                <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <!--End mc_embed_signup-->
</div>