
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>


<p>Want to get in touch? Contact FurCoNZ!</p>

<p>FurCoNZ is run by a group of volunteers who can answer your questions.</p>

<ul>
    <li>Twitter: <a href="https://twitter.com/@@furconz">@@furconz</a></li>
    <li>Email: furconz (at) googlegroups (dot) com</li>
</ul>
