
@{
    ViewData["Title"] = "Volunteer";
}

<h1>Volunteer</h1>


<p>Want to volunteer for FurCoNZ?</p>
<p>It’s because of volunteers like you that we can provide a great event for all of our attendees!</p>
<p>Remember, all volunteers must still register and pay to attend FurCoNZ in order to volunteer for FurCoNZ at any of our registration levels.</p>
<p>We’ll let you know via email what your duties are – and if any require to show up at a certain time – we’ll let you know!</p>
<p>Get started below!</p>

<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup" class="card">

    <div class="card-body">
        <form action="https://furconz.us17.list-manage.com/subscribe/post?u=4be0f7d7e6414f6a1a8c7fe73&amp;id=fdb3974666" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>

            <div class="form-group">
                <label for="mce-EMAIL">
                    Email Address  <span class="asterisk">*</span>
                </label>
                <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" required>
            </div>
            <div class="form-group">
                <label for="mce-FNAME">First Name </label>
                <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME">
            </div>
            <div class="form-group">
                <label for="mce-LNAME">Last Name </label>
                <input type="text" value="" name="LNAME" class="form-control" id="mce-LNAME">
            </div>
            <div class="form-group">
                <label for="mce-FURRYNAME">
                    Furry Name  <span class="asterisk">*</span>
                </label>
                <input type="text" value="" name="FURRYNAME" class="form-control" id="mce-FURRYNAME" required>
            </div>
            <div class="form-group col-sm-6 p-0">
                <label for="mce-PHONE">Phone Number </label>
                <input type="text" name="PHONE" class="form-control" value="" id="mce-PHONE">
            </div>
            <div class="form-group">
                <strong>Have you volunteer for FurCoNZ previously? </strong>
                    
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Yes" name="VBEFORE" id="mce-VBEFORE-0">
                    <label class="form-check-label" for="mce-VBEFORE-0">Yes</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="No" name="VBEFORE" id="mce-VBEFORE-1">
                    <label class="form-check-label" for="mce-VBEFORE-1">No</label>
                </div>
                    
            </div>
            <div class="form-group">
                <label for="mce-SPECIAL">Special talent? </label>
                <input type="text" value="" name="SPECIAL" class="form-control" id="mce-SPECIAL">
            </div>

            <div class="form-group">
                <strong>REGISTRATION </strong>
                    
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Registration Setup" name="REGISTRAT" id="mce-REGISTRAT-0">
                    <label for="mce-REGISTRAT-0">Registration Setup</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Welfare Item Distribution" name="REGISTRAT" id="mce-REGISTRAT-1">
                    <label class="form-check-label" for="mce-REGISTRAT-1">Welfare Item Distribution</label>
                </div>
                    
            </div>
            <div class="form-group">
                <strong>Thursday Night BBQ </strong>
                    
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="BBQ Cooking" name="THNIGHTBBQ" id="mce-THNIGHTBBQ-0">
                    <label class="form-check-label" for="mce-THNIGHTBBQ-0">BBQ Cooking</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="BBQ Serving" name="THNIGHTBBQ" id="mce-THNIGHTBBQ-1">
                    <label class="form-check-label" for="mce-THNIGHTBBQ-1">BBQ Serving</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="BBQ Cleanup" name="THNIGHTBBQ" id="mce-THNIGHTBBQ-2">
                    <label class="form-check-label" for="mce-THNIGHTBBQ-2">BBQ Cleanup</label>
                </div>
                
            </div>
            <div class="form-group">
                <strong>Friday Breakfast </strong>
                    
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Setup" name="FRIBKFST" id="mce-FRIBKFST-0">
                    <label class="form-check-label" for="mce-FRIBKFST-0">Setup</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Serving" name="FRIBKFST" id="mce-FRIBKFST-1">
                    <label class="form-check-label" for="mce-FRIBKFST-1">Serving</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Clearing/Sweeping" name="FRIBKFST" id="mce-FRIBKFST-2">
                    <label class="form-check-label" for="mce-FRIBKFST-2">Clearing/Sweeping</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Dishwashing" name="FRIBKFST" id="mce-FRIBKFST-3">
                    <label class="form-check-label" for="mce-FRIBKFST-3">Dishwashing</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Cook's Dishwashing (Pots/Pans)" name="FRIBKFST" id="mce-FRIBKFST-4">
                    <label class="form-check-label" for="mce-FRIBKFST-4">Cook's Dishwashing (Pots/Pans)</label>
                </div>
            </div>
            <div class="form-group">
                <strong>Friday Lunch </strong>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Setup" name="FRILUNCH" id="mce-FRILUNCH-0">
                    <label class="form-check-label" for="mce-FRILUNCH-0">Setup</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Serving" name="FRILUNCH" id="mce-FRILUNCH-1">
                    <label class="form-check-label" for="mce-FRILUNCH-1">Serving</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Table Clearing/Sweeping" name="FRILUNCH" id="mce-FRILUNCH-2">
                    <label class="form-check-label" for="mce-FRILUNCH-2">Table Clearing/Sweeping</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Dishwashing" name="FRILUNCH" id="mce-FRILUNCH-3">
                    <label class="form-check-label" for="mce-FRILUNCH-3">Dishwashing</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Cook's Dishwashing (Pots/Pans)" name="FRILUNCH" id="mce-FRILUNCH-4">
                    <label class="form-check-label" for="mce-FRILUNCH-4">Cook's Dishwashing (Pots/Pans)</label>
                </div>
            </div>
            <div class="form-group">
                <strong>Friday Afternoon Tea </strong>
                    
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Setup and Serve" name="FRITEA" id="mce-FRITEA-0">
                    <label class="form-check-label" for="mce-FRITEA-0">Setup and Serve</label>
                </div>
                    
            </div>
            <div class="form-group">
                <strong>Friday Dinner </strong>
                    
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Setup" name="FRIDINNER" id="mce-FRIDINNER-0">
                    <label class="form-check-label" for="mce-FRIDINNER-0">Setup</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Serving" name="FRIDINNER" id="mce-FRIDINNER-1">
                    <label class="form-check-label" for="mce-FRIDINNER-1">Serving</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Table Clearing/Sweeping" name="FRIDINNER" id="mce-FRIDINNER-2">
                    <label class="form-check-label" for="mce-FRIDINNER-2">Table Clearing/Sweeping</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Dishwashing" name="FRIDINNER" id="mce-FRIDINNER-3">
                    <label class="form-check-label" for="mce-FRIDINNER-3">Dishwashing</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Cook's Dishwashing (Pots/Pans)" name="FRIDINNER" id="mce-FRIDINNER-4">
                    <label class="form-check-label" for="mce-FRIDINNER-4">Cook's Dishwashing (Pots/Pans)</label>
                </div>
            </div>
            <div class="form-group">
                <strong>Saturday Breakfast </strong>
                    
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Setup" name="SATBKFST" id="mce-SATBKFST-0">
                    <label class="form-check-label" for="mce-SATBKFST-0">Setup</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Serving" name="SATBKFST" id="mce-SATBKFST-1">
                    <label class="form-check-label" for="mce-SATBKFST-1">Serving</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Table Clearing/Sweeping" name="SATBKFST" id="mce-SATBKFST-2">
                    <label class="form-check-label" for="mce-SATBKFST-2">Table Clearing/Sweeping</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Dishwashing" name="SATBKFST" id="mce-SATBKFST-3">
                    <label class="form-check-label" for="mce-SATBKFST-3">Dishwashing</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Cook's Dishwashing (Pots/Pans)" name="SATBKFST" id="mce-SATBKFST-4">
                    <label class="form-check-label" for="mce-SATBKFST-4">Cook's Dishwashing (Pots/Pans)</label>
                </div>
            </div>
            <div class="form-group">
                <strong>Saturday Lunch </strong>
                    
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Setup" name="SATLUNCH" id="mce-SATLUNCH-0">
                    <label class="form-check-label" for="mce-SATLUNCH-0">Setup</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Serving" name="SATLUNCH" id="mce-SATLUNCH-1">
                    <label class="form-check-label" for="mce-SATLUNCH-1">Serving</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Table Clearing/Sweeping" name="SATLUNCH" id="mce-SATLUNCH-2">
                    <label class="form-check-label" for="mce-SATLUNCH-2">Table Clearing/Sweeping</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Dishwashing" name="SATLUNCH" id="mce-SATLUNCH-3">
                    <label class="form-check-label" for="mce-SATLUNCH-3">Dishwashing</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Cook's Dishwashing (Pots/Pans)" name="SATLUNCH" id="mce-SATLUNCH-4">
                    <label class="form-check-label" for="mce-SATLUNCH-4">Cook's Dishwashing (Pots/Pans)</label>
                </div>
            </div>
            <div class="form-group">
                <strong>Saturday Afternoon Tea </strong>
                    
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Setup and Serve" name="SATTEA" id="mce-SATTEA-0">
                    <label class="form-check-label" for="mce-SATTEA-0">Setup and Serve</label>
                </div>
                    
            </div>
            <div class="form-group">
                <strong>Saturday Dinner </strong>
                    
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Setup" name="SATDINNER" id="mce-SATDINNER-0">
                    <label class="form-check-label" for="mce-SATDINNER-0">Setup</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Serving" name="SATDINNER" id="mce-SATDINNER-1">
                    <label class="form-check-label" for="mce-SATDINNER-1">Serving</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Table Clearing/Sweeping" name="SATDINNER" id="mce-SATDINNER-2">
                    <label class="form-check-label" for="mce-SATDINNER-2">Table Clearing/Sweeping</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Dishwashing" name="SATDINNER" id="mce-SATDINNER-3">
                    <label class="form-check-label" for="mce-SATDINNER-3">Dishwashing</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Cook's Dishwashing (Pots/Pans)" name="SATDINNER" id="mce-SATDINNER-4">
                    <label class="form-check-label" for="mce-SATDINNER-4">Cook's Dishwashing (Pots/Pans)</label>
                </div>
            </div>
            <div class="form-group">
                <strong>Sunday Breakfast </strong>
                    
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Setup" name="SUNBKFST" id="mce-SUNBKFST-0">
                    <label class="form-check-label" for="mce-SUNBKFST-0">Setup</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Serving" name="SUNBKFST" id="mce-SUNBKFST-1">
                    <label class="form-check-label" for="mce-SUNBKFST-1">Serving</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Table Clearing/Sweeping" name="SUNBKFST" id="mce-SUNBKFST-2">
                    <label class="form-check-label" for="mce-SUNBKFST-2">Table Clearing/Sweeping</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Dishwashing" name="SUNBKFST" id="mce-SUNBKFST-3">
                    <label class="form-check-label" for="mce-SUNBKFST-3">Dishwashing</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Cook's Dishwashing (Pots/Pans)" name="SUNBKFST" id="mce-SUNBKFST-4">
                    <label class="form-check-label" for="mce-SUNBKFST-4">Cook's Dishwashing (Pots/Pans)</label>
                </div>
            </div>
            <div class="form-group">
                <strong>Sunday Lunch </strong>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Setup" name="MMERGE19" id="mce-MMERGE19-0">
                    <label class="form-check-label" for="mce-MMERGE19-0">Setup</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Serving" name="MMERGE19" id="mce-MMERGE19-1">
                    <label class="form-check-label" for="mce-MMERGE19-1">Serving</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Table Clearing/Sweeping" name="MMERGE19" id="mce-MMERGE19-2">
                    <label class="form-check-label" for="mce-MMERGE19-2">Table Clearing/Sweeping</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Dishwashing" name="MMERGE19" id="mce-MMERGE19-3">
                    <label class="form-check-label" for="mce-MMERGE19-3">Dishwashing</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Dishwashing (Pots/Pans)" name="MMERGE19" id="mce-MMERGE19-4">
                    <label class="form-check-label" for="mce-MMERGE19-4">Dishwashing (Pots/Pans)</label>
                </div>
            </div>
            <div class="form-group">
                <strong>Last Day Cleanup </strong>
                    
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Female Toilet and Shower Stall Cleaning" name="LASTDAY" id="mce-LASTDAY-0">
                    <label class="form-check-label" for="mce-LASTDAY-0">Female Toilet and Shower Stall Cleaning</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Gender Neutral Toilet and Shower Stall Cleaning" name="LASTDAY" id="mce-LASTDAY-1">
                    <label class="form-check-label" for="mce-LASTDAY-1">Gender Neutral Toilet and Shower Stall Cleaning</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Male Toilet and Shower Stall Cleaning" name="LASTDAY" id="mce-LASTDAY-2">
                    <label class="form-check-label" for="mce-LASTDAY-2">Male Toilet and Shower Stall Cleaning</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Vac/Mop Art and Craft Area" name="LASTDAY" id="mce-LASTDAY-3">
                    <label class="form-check-label" for="mce-LASTDAY-3">Vac/Mop Art and Craft Area</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Vac/Mop Auditorium" name="LASTDAY" id="mce-LASTDAY-4">
                    <label class="form-check-label" for="mce-LASTDAY-4">Vac/Mop Auditorium</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Vac/Mop Dining Area" name="LASTDAY" id="mce-LASTDAY-5">
                    <label class="form-check-label" for="mce-LASTDAY-5">Vac/Mop Dining Area</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Vac/Mop Gaming Area" name="LASTDAY" id="mce-LASTDAY-6">
                    <label class="form-check-label" for="mce-LASTDAY-6">Vac/Mop Gaming Area</label>
                </div>
            </div>

            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4be0f7d7e6414f6a1a8c7fe73_fdb3974666" tabindex="-1" value=""></div>
                
            <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<!--End mc_embed_signup-->
