
@{
    ViewData["Title"] = "Volunteer";
}

<h1>Volunteer</h1>


<p>Want to volunteer for FurCoNZ?</p>
<p>It’s because of volunteers like you that we can provide a great event for all of our attendees!</p>
<p>Remember, all volunteers must still register and pay to attend FurCoNZ in order to volunteer for FurCoNZ at any of our registration levels.</p>
<p>We’ll let you know via email what your duties are – and if any require to show up at a certain time – we’ll let you know!</p>
<p>Get started below!</p>

<section id="yikes-mailchimp-container-5" class="yikes-mailchimp-container yikes-mailchimp-container-5 ">
    <form id="volunteer-5" class="yikes-easy-mc-form yikes-easy-mc-form-5  " method="POST" data-attr-form-id="5">

        <label for="yikes-easy-mc-form-5-EMAIL" class="EMAIL-label yikes-mailchimp-field-required ">

            <!-- dictate label visibility -->
            <span class="EMAIL-label">
                Email Address
            </span>

            <!-- Description Above -->

            <input id="yikes-easy-mc-form-5-EMAIL" name="EMAIL" placeholder="" class="yikes-easy-mc-email " required="required" type="email" value="">

            <!-- Description Below -->

        </label>
        <label for="yikes-easy-mc-form-5-FNAME" class="field-left-half FNAME-label ">

            <!-- dictate label visibility -->
            <span class="FNAME-label">
                First Name
            </span>

            <!-- Description Above -->

            <input id="yikes-easy-mc-form-5-FNAME" name="FNAME" placeholder="" class="yikes-easy-mc-text " type="text" value="">

            <!-- Description Below -->

        </label>
        <label for="yikes-easy-mc-form-5-LNAME" class="field-right-half LNAME-label ">

            <!-- dictate label visibility -->
            <span class="LNAME-label">
                Last Name
            </span>

            <!-- Description Above -->

            <input id="yikes-easy-mc-form-5-LNAME" name="LNAME" placeholder="" class="yikes-easy-mc-text " type="text" value="">

            <!-- Description Below -->

        </label>
        <label for="yikes-easy-mc-form-5-FURRYNAME" class="FURRYNAME-label yikes-mailchimp-field-required ">

            <!-- dictate label visibility -->
            <span class="FURRYNAME-label">
                Furry Name
            </span>

            <!-- Description Above -->
            <p class="form-field-description" id="form-field-description-FURRYNAME">Let us know your badge name or furry name.</p>
            <input id="yikes-easy-mc-form-5-FURRYNAME" name="FURRYNAME" placeholder="" class="yikes-easy-mc-text " required="required" type="text" value="">

            <!-- Description Below -->

        </label>

        <label for="yikes-easy-mc-form-5-PHONE" class="PHONE-label ">

            <!-- dictate label visibility -->
            <span class="PHONE-label">
                Phone Number
            </span>

            <!-- Description Above -->
            <p class="form-field-description" id="form-field-description-PHONE">Just in case soemthing happens and we need to contact you urgently. </p>
            <input id="yikes-easy-mc-form-5-PHONE" name="PHONE" placeholder="" class="yikes-easy-mc-phone " type="text" data-phone-type="international" title="International Phone Number" pattern="[0-9,-,+]{1,}" value="">

            <!-- Description Below -->

        </label>
        <label for="yikes-easy-mc-form-5-SPECIAL" class="SPECIAL-label ">

            <!-- dictate label visibility -->
            <span class="SPECIAL-label">
                Special talent?
            </span>

            <!-- Description Above -->
            <p class="form-field-description" id="form-field-description-SPECIAL">Got anything you'd be good at? Like to volunteer your talents in something not listed here? Let us know!</p>
            <input id="yikes-easy-mc-form-5-SPECIAL" name="SPECIAL" placeholder="" class="yikes-easy-mc-text " type="text" value="">

            <!-- Description Below -->

        </label>
        <label for="yikes-easy-mc-form-5-VBEFORE" class="option-2-col VBEFORE-label ">

            <!-- dictate label visibility -->
            <span class="VBEFORE-label checkbox-parent-label">
                Have you volunteer for FurCoNZ previously?
            </span>
            <label for="VBEFORE-1" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="VBEFORE" id="VBEFORE-1" value="Yes">
                <span class="VBEFORE-label">Yes</span>
            </label>
            <label for="VBEFORE-2" class="yikes-easy-mc-checkbox-label  last-selection">
                <input type="radio" name="VBEFORE" id="VBEFORE-2" value="No">
                <span class="VBEFORE-label">No</span>
            </label>

        </label>
        <label for="yikes-easy-mc-form-5-REGISTRAT" class="option-2-col REGISTRAT-label ">

            <!-- dictate label visibility -->
            <span class="REGISTRAT-label checkbox-parent-label">
                REGISTRATION
            </span>
            <label for="REGISTRAT-1" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="REGISTRAT" id="REGISTRAT-1" value="Registration Setup">
                <span class="REGISTRAT-label">Registration Setup</span>
            </label>
            <label for="REGISTRAT-2" class="yikes-easy-mc-checkbox-label  last-selection">
                <input type="radio" name="REGISTRAT" id="REGISTRAT-2" value="Welfare Item Distribution">
                <span class="REGISTRAT-label">Welfare Item Distribution</span>
            </label>

        </label>
        <label for="yikes-easy-mc-form-5-THNIGHTBBQ" class="option-3-col THNIGHTBBQ-label ">

            <!-- dictate label visibility -->
            <span class="THNIGHTBBQ-label checkbox-parent-label">
                Thursday Night BBQ
            </span>
            <p class="form-field-description" id="form-field-description-THNIGHTBBQ">Help us put on a bbq feed for the camp! We'll need help buttering bread, cooking, and chopping onions.</p>										<label for="THNIGHTBBQ-1" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="THNIGHTBBQ" id="THNIGHTBBQ-1" value="BBQ Cooking">
                <span class="THNIGHTBBQ-label">BBQ Cooking</span>
            </label>
            <label for="THNIGHTBBQ-2" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="THNIGHTBBQ" id="THNIGHTBBQ-2" value="BBQ Serving">
                <span class="THNIGHTBBQ-label">BBQ Serving</span>
            </label>
            <label for="THNIGHTBBQ-3" class="yikes-easy-mc-checkbox-label  last-selection">
                <input type="radio" name="THNIGHTBBQ" id="THNIGHTBBQ-3" value="BBQ Cleanup">
                <span class="THNIGHTBBQ-label">BBQ Cleanup</span>
            </label>

        </label>
        <label for="yikes-easy-mc-form-5-FRIBKFST" class="FRIBKFST-label ">

            <!-- dictate label visibility -->
            <span class="FRIBKFST-label checkbox-parent-label">
                Friday Breakfast
            </span>
            <label for="FRIBKFST-1" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="FRIBKFST" id="FRIBKFST-1" value="Setup">
                <span class="FRIBKFST-label">Setup</span>
            </label>
            <label for="FRIBKFST-2" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="FRIBKFST" id="FRIBKFST-2" value="Serving">
                <span class="FRIBKFST-label">Serving</span>
            </label>
            <label for="FRIBKFST-3" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="FRIBKFST" id="FRIBKFST-3" value="Clearing/Sweeping">
                <span class="FRIBKFST-label">Clearing/Sweeping</span>
            </label>
            <label for="FRIBKFST-4" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="FRIBKFST" id="FRIBKFST-4" value="Dishwashing">
                <span class="FRIBKFST-label">Dishwashing</span>
            </label>
            <label for="FRIBKFST-5" class="yikes-easy-mc-checkbox-label  last-selection">
                <input type="radio" name="FRIBKFST" id="FRIBKFST-5" value="Cook's Dishwashing (Pots/Pans)">
                <span class="FRIBKFST-label">Cook's Dishwashing (Pots/Pans)</span>
            </label>

        </label>
        <label for="yikes-easy-mc-form-5-FRILUNCH" class="FRILUNCH-label ">

            <!-- dictate label visibility -->
            <span class="FRILUNCH-label checkbox-parent-label">
                Friday Lunch
            </span>
            <label for="FRILUNCH-1" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="FRILUNCH" id="FRILUNCH-1" value="Setup">
                <span class="FRILUNCH-label">Setup</span>
            </label>
            <label for="FRILUNCH-2" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="FRILUNCH" id="FRILUNCH-2" value="Serving">
                <span class="FRILUNCH-label">Serving</span>
            </label>
            <label for="FRILUNCH-3" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="FRILUNCH" id="FRILUNCH-3" value="Table Clearing/Sweeping">
                <span class="FRILUNCH-label">Table Clearing/Sweeping</span>
            </label>
            <label for="FRILUNCH-4" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="FRILUNCH" id="FRILUNCH-4" value="Dishwashing">
                <span class="FRILUNCH-label">Dishwashing</span>
            </label>
            <label for="FRILUNCH-5" class="yikes-easy-mc-checkbox-label  last-selection">
                <input type="radio" name="FRILUNCH" id="FRILUNCH-5" value="Cook's Dishwashing (Pots/Pans)">
                <span class="FRILUNCH-label">Cook's Dishwashing (Pots/Pans)</span>
            </label>

        </label>
        <label for="yikes-easy-mc-form-5-FRITEA" class="FRITEA-label ">

            <!-- dictate label visibility -->
            <span class="FRITEA-label checkbox-parent-label">
                Friday Afternoon Tea
            </span>
            <label for="FRITEA-1" class="yikes-easy-mc-checkbox-label  last-selection">
                <input type="radio" name="FRITEA" id="FRITEA-1" value="Setup and Serve">
                <span class="FRITEA-label">Setup and Serve</span>
            </label>

        </label>
        <label for="yikes-easy-mc-form-5-FRIDINNER" class="FRIDINNER-label ">

            <!-- dictate label visibility -->
            <span class="FRIDINNER-label checkbox-parent-label">
                Friday Dinner
            </span>
            <label for="FRIDINNER-1" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="FRIDINNER" id="FRIDINNER-1" value="Setup">
                <span class="FRIDINNER-label">Setup</span>
            </label>
            <label for="FRIDINNER-2" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="FRIDINNER" id="FRIDINNER-2" value="Serving">
                <span class="FRIDINNER-label">Serving</span>
            </label>
            <label for="FRIDINNER-3" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="FRIDINNER" id="FRIDINNER-3" value="Table Clearing/Sweeping">
                <span class="FRIDINNER-label">Table Clearing/Sweeping</span>
            </label>
            <label for="FRIDINNER-4" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="FRIDINNER" id="FRIDINNER-4" value="Dishwashing">
                <span class="FRIDINNER-label">Dishwashing</span>
            </label>
            <label for="FRIDINNER-5" class="yikes-easy-mc-checkbox-label  last-selection">
                <input type="radio" name="FRIDINNER" id="FRIDINNER-5" value="Cook's Dishwashing (Pots/Pans)">
                <span class="FRIDINNER-label">Cook's Dishwashing (Pots/Pans)</span>
            </label>

        </label>
        <label for="yikes-easy-mc-form-5-SATBKFST" class="SATBKFST-label ">

            <!-- dictate label visibility -->
            <span class="SATBKFST-label checkbox-parent-label">
                Saturday Breakfast
            </span>
            <label for="SATBKFST-1" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="SATBKFST" id="SATBKFST-1" value="Setup">
                <span class="SATBKFST-label">Setup</span>
            </label>
            <label for="SATBKFST-2" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="SATBKFST" id="SATBKFST-2" value="Serving">
                <span class="SATBKFST-label">Serving</span>
            </label>
            <label for="SATBKFST-3" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="SATBKFST" id="SATBKFST-3" value="Table Clearing/Sweeping">
                <span class="SATBKFST-label">Table Clearing/Sweeping</span>
            </label>
            <label for="SATBKFST-4" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="SATBKFST" id="SATBKFST-4" value="Dishwashing">
                <span class="SATBKFST-label">Dishwashing</span>
            </label>
            <label for="SATBKFST-5" class="yikes-easy-mc-checkbox-label  last-selection">
                <input type="radio" name="SATBKFST" id="SATBKFST-5" value="Cook's Dishwashing (Pots/Pans)">
                <span class="SATBKFST-label">Cook's Dishwashing (Pots/Pans)</span>
            </label>

        </label>
        <label for="yikes-easy-mc-form-5-SATLUNCH" class="SATLUNCH-label ">

            <!-- dictate label visibility -->
            <span class="SATLUNCH-label checkbox-parent-label">
                Saturday Lunch
            </span>
            <label for="SATLUNCH-1" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="SATLUNCH" id="SATLUNCH-1" value="Setup">
                <span class="SATLUNCH-label">Setup</span>
            </label>
            <label for="SATLUNCH-2" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="SATLUNCH" id="SATLUNCH-2" value="Serving">
                <span class="SATLUNCH-label">Serving</span>
            </label>
            <label for="SATLUNCH-3" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="SATLUNCH" id="SATLUNCH-3" value="Table Clearing/Sweeping">
                <span class="SATLUNCH-label">Table Clearing/Sweeping</span>
            </label>
            <label for="SATLUNCH-4" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="SATLUNCH" id="SATLUNCH-4" value="Dishwashing">
                <span class="SATLUNCH-label">Dishwashing</span>
            </label>
            <label for="SATLUNCH-5" class="yikes-easy-mc-checkbox-label  last-selection">
                <input type="radio" name="SATLUNCH" id="SATLUNCH-5" value="Cook's Dishwashing (Pots/Pans)">
                <span class="SATLUNCH-label">Cook's Dishwashing (Pots/Pans)</span>
            </label>

        </label>
        <label for="yikes-easy-mc-form-5-SATTEA" class="SATTEA-label ">

            <!-- dictate label visibility -->
            <span class="SATTEA-label checkbox-parent-label">
                Saturday Afternoon Tea
            </span>
            <label for="SATTEA-1" class="yikes-easy-mc-checkbox-label  last-selection">
                <input type="radio" name="SATTEA" id="SATTEA-1" value="Setup and Serve">
                <span class="SATTEA-label">Setup and Serve</span>
            </label>

        </label>
        <label for="yikes-easy-mc-form-5-SATDINNER" class="SATDINNER-label ">

            <!-- dictate label visibility -->
            <span class="SATDINNER-label checkbox-parent-label">
                Saturday Dinner
            </span>
            <label for="SATDINNER-1" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="SATDINNER" id="SATDINNER-1" value="Setup">
                <span class="SATDINNER-label">Setup</span>
            </label>
            <label for="SATDINNER-2" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="SATDINNER" id="SATDINNER-2" value="Serving">
                <span class="SATDINNER-label">Serving</span>
            </label>
            <label for="SATDINNER-3" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="SATDINNER" id="SATDINNER-3" value="Table Clearing/Sweeping">
                <span class="SATDINNER-label">Table Clearing/Sweeping</span>
            </label>
            <label for="SATDINNER-4" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="SATDINNER" id="SATDINNER-4" value="Dishwashing">
                <span class="SATDINNER-label">Dishwashing</span>
            </label>
            <label for="SATDINNER-5" class="yikes-easy-mc-checkbox-label  last-selection">
                <input type="radio" name="SATDINNER" id="SATDINNER-5" value="Cook's Dishwashing (Pots/Pans)">
                <span class="SATDINNER-label">Cook's Dishwashing (Pots/Pans)</span>
            </label>

        </label>
        <label for="yikes-easy-mc-form-5-SUNBKFST" class="SUNBKFST-label ">

            <!-- dictate label visibility -->
            <span class="SUNBKFST-label checkbox-parent-label">
                Sunday Breakfast
            </span>
            <label for="SUNBKFST-1" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="SUNBKFST" id="SUNBKFST-1" value="Setup">
                <span class="SUNBKFST-label">Setup</span>
            </label>
            <label for="SUNBKFST-2" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="SUNBKFST" id="SUNBKFST-2" value="Serving">
                <span class="SUNBKFST-label">Serving</span>
            </label>
            <label for="SUNBKFST-3" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="SUNBKFST" id="SUNBKFST-3" value="Table Clearing/Sweeping">
                <span class="SUNBKFST-label">Table Clearing/Sweeping</span>
            </label>
            <label for="SUNBKFST-4" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="SUNBKFST" id="SUNBKFST-4" value="Dishwashing">
                <span class="SUNBKFST-label">Dishwashing</span>
            </label>
            <label for="SUNBKFST-5" class="yikes-easy-mc-checkbox-label  last-selection">
                <input type="radio" name="SUNBKFST" id="SUNBKFST-5" value="Cook's Dishwashing (Pots/Pans)">
                <span class="SUNBKFST-label">Cook's Dishwashing (Pots/Pans)</span>
            </label>

        </label>
        <label for="yikes-easy-mc-form-5-MMERGE19" class="MMERGE19-label ">

            <!-- dictate label visibility -->
            <span class="MMERGE19-label checkbox-parent-label">
                Sunday Lunch
            </span>
            <label for="MMERGE19-1" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="MMERGE19" id="MMERGE19-1" value="Setup">
                <span class="MMERGE19-label">Setup</span>
            </label>
            <label for="MMERGE19-2" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="MMERGE19" id="MMERGE19-2" value="Serving">
                <span class="MMERGE19-label">Serving</span>
            </label>
            <label for="MMERGE19-3" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="MMERGE19" id="MMERGE19-3" value="Table Clearing/Sweeping">
                <span class="MMERGE19-label">Table Clearing/Sweeping</span>
            </label>
            <label for="MMERGE19-4" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="MMERGE19" id="MMERGE19-4" value="Dishwashing">
                <span class="MMERGE19-label">Dishwashing</span>
            </label>
            <label for="MMERGE19-5" class="yikes-easy-mc-checkbox-label  last-selection">
                <input type="radio" name="MMERGE19" id="MMERGE19-5" value="Dishwashing (Pots/Pans)">
                <span class="MMERGE19-label">Dishwashing (Pots/Pans)</span>
            </label>

        </label>
        <label for="yikes-easy-mc-form-5-LASTDAY" class="LASTDAY-label ">

            <!-- dictate label visibility -->
            <span class="LASTDAY-label checkbox-parent-label">
                Last Day Cleanup
            </span>
            <p class="form-field-description" id="form-field-description-LASTDAY">We need help in those last moments to push through and get everything cleaned - help give us a hand!</p>										<label for="LASTDAY-1" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="LASTDAY" id="LASTDAY-1" value="Female Toilet and Shower Stall Cleaning">
                <span class="LASTDAY-label">Female Toilet and Shower Stall Cleaning</span>
            </label>
            <label for="LASTDAY-2" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="LASTDAY" id="LASTDAY-2" value="Gender Neutral Toilet and Shower Stall Cleaning">
                <span class="LASTDAY-label">Gender Neutral Toilet and Shower Stall Cleaning</span>
            </label>
            <label for="LASTDAY-3" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="LASTDAY" id="LASTDAY-3" value="Male Toilet and Shower Stall Cleaning">
                <span class="LASTDAY-label">Male Toilet and Shower Stall Cleaning</span>
            </label>
            <label for="LASTDAY-4" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="LASTDAY" id="LASTDAY-4" value="Vac/Mop Art and Craft Area">
                <span class="LASTDAY-label">Vac/Mop Art and Craft Area</span>
            </label>
            <label for="LASTDAY-5" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="LASTDAY" id="LASTDAY-5" value="Vac/Mop Auditorium">
                <span class="LASTDAY-label">Vac/Mop Auditorium</span>
            </label>
            <label for="LASTDAY-6" class="yikes-easy-mc-checkbox-label ">
                <input type="radio" name="LASTDAY" id="LASTDAY-6" value="Vac/Mop Dining Area">
                <span class="LASTDAY-label">Vac/Mop Dining Area</span>
            </label>
            <label for="LASTDAY-7" class="yikes-easy-mc-checkbox-label  last-selection">
                <input type="radio" name="LASTDAY" id="LASTDAY-7" value="Vac/Mop Gaming Area">
                <span class="LASTDAY-label">Vac/Mop Gaming Area</span>
            </label>

        </label>
        <div class="g-recaptcha" data-sitekey="6LcVdmYUAAAAANxfLaUQj_0m7f7fdMWaMMCRadWp" data-theme="light" data-type="image" data-size="normal" data-callback="" data-expired-callback=""></div>
        <!-- Honeypot Trap -->
        <input type="hidden" name="yikes-mailchimp-honeypot" id="yikes-mailchimp-honeypot-5" value="">

        <!-- List ID -->
        <input type="hidden" name="yikes-mailchimp-associated-list-id" id="yikes-mailchimp-associated-list-id-5" value="fdb3974666">

        <!-- The form that is being submitted! Used to display error/success messages above the correct form -->
        <input type="hidden" name="yikes-mailchimp-submitted-form" id="yikes-mailchimp-submitted-form-5" value="5">

        <!-- Submit Button -->
        <button type="submit" class="yikes-easy-mc-submit-button yikes-easy-mc-submit-button-5 btn btn-primary "> <span class="yikes-mailchimp-submit-button-span-text">Volunteer for FurCoNZ!</span></button>				<!-- Nonce Security Check -->
        <input type="hidden" id="yikes_easy_mc_new_subscriber_5" name="yikes_easy_mc_new_subscriber" value="047ccf7207">
        <input type="hidden" name="_wp_http_referer" value="/volunteer/">
    </form>
    <!-- Mailchimp Form generated by Easy Forms for Mailchimp v6.5.4 (https://wordpress.org/plugins/yikes-inc-easy-mailchimp-extender/) -->

</section>

