@page
@model IndexModel
@{
}

<form>
    <table>
        <tr>
            <th>Type</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Purchase</th>
        </tr>
        @foreach (var ticketType in Model.AvailableTicketTypes)
        {
            <tr>
                <td>@ticketType.Name</td>
                <td>$@((ticketType.PriceCents / 100).ToString("f2"))</td>
                <td>@ticketType.TotalAvailable remaining</td>
                <td>
                    <input type="number" name="ticketnumber[@ticketType.Id]" value="0" min="0" max="@ticketType.TotalAvailable" />
                </td>
            </tr>
        }
    </table>
    <input type="submit" name="submit" value="Details >"/>
</form>