@model OrderViewModel
@{
    ViewData["Title"] = "Order Refunded";
    Layout = "~/Views/Shared/EmailTemplates/_Layout.cshtml";
}

<tr>
    <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
        <div style="font-family:Raleway;font-size:13px;line-height:1;text-align:left;color:#FFFFFF;">
            Your order has been refunded. Please allow for a few business days for the refund to be processed.
        </div>
    </td>
</tr>