@model OrderViewModel
@{
    ViewData["Title"] = "Payment Received";
    Layout = "~/Views/Shared/EmailTemplates/_Layout.cshtml";
}

<tr>
    <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
        <div style="font-family:Raleway;font-size:13px;line-height:1;text-align:left;color:#FFFFFF;">
            A payment has been received for your order.
        </div>
    </td>
</tr>