<h4>That's okay!</h4>

<p>You're welcome to pay for your order within 7 days of confirmation.</p>

<p>Alternatively, you may also pay via direct bank transfer.</p>

<a class="btn btn-primary" asp-action="Orders" asp-controller="Account">View Your Orders</a>
<a class="btn btn-secondary" asp-action="Index" asp-controller="Home">Return</a>