<h4>Thank You</h4>

<p>Your payment is being processed. So sit tight, we'll email you once your payment has been received.</p>

<a class="btn btn-primary" asp-action="Index" asp-controller="Home">Return</a>