@{
ViewData["Title"] = "About FurCoNZ";
}

<h1>About FurCoNZ</h1>

<h2>What is FurCoNZ?</h2>
<p>FurCoNZ is the annual gathering for the New Zealand Furry community, typically held in summer every year.
    Unlike most foreign Furry Conventions, FurCoNZ is not hosted in a hotel. Instead it is run as a camp,
    much like Camp Feral! or Oklacon. This keeps FurCoNZ simple and more informal, while retaining the link
    to the New Zealand outdoors.</p>
<p>While FurCoNZ is for the Furry community, we are most welcoming of members from other communities, such
    as Bronies/Pegasisters, Otherkin, or any one else who may just be curious.</p>

<h2>What is Furry?</h2>
<p>The Furry Community initially grew out of the Science Fiction and Fantasy fandoms.</p>
<p>In very broad terms, Furries are fans of anthropomorphism and things having to do with creatures and
    animals.</p>
<p>There are a vast array of subject areas that Furries are interested in:</p>
<ul>
    <li>Mythology (eg. totem spirits and animism);</li>
    <li>Science (eg. bioengineering and veterinary sciences);</li>
    <li>Literature (eg. Poetry and storytelling);</li>
    <li>Fine arts (eg. Drawing, painting, sculpture and costume making);</li>
    <li>Performing arts (eg. Singing, music and fursuit performance);</li>
    <li>Mass Media (eg. Films, cartoons and televison shows);</li>
</ul>
<p>and the list goes on…</p>
<p>Furries themselves have a wide variety of ages, races and cultures, and have a diverse range of
    backgrounds, from students to highly qualified industry professionals (Doctors, lawyers, academics and
    even rocket scientists).</p>
<p>Just as there is a huge range of people who make up the Furry Community, they way they choose to identify
    with the fandom is equally varied. Some are simply happy sit with friends and watch Furry cartoons and
    anime. Some will produce anthropomorphic art of their favourite characters. Others will make and wear
    fursuits of their of their Furry persona.</p>
<p>It is impossible to give a single definition of the term ‘Furry’. <a
        href="http://www.whatisfurry.com">Whatisfurry.com</a> offers a much better explanation than can be
    offered here.</p>

<h1>FurCoNZ Timeline</h1>

<h2>2002-2006</h2>
<p>While there have been unofficial gatherings prior to this, these were the first to be called FurCoNZ and
    to be run on an annual basis.</p>

<h2>2002</h2>
<p>FurCoNZ started as a gathering hosted by PuppyDog in his flat in Panmure, Auckland. This was similar to a
    easterCon that same year, but was the first to call itself FurCoNZ.</p>

<h2>2003</h2>
<p>Nimble hosted the second FurCoNZ at his parents’ house in Mission Bay, Auckland.</p>

<h2>2004</h2>
<p>The first FurCoNZ outside of Auckland was hosted by Whitelock and Aeothen in Dunedin. This event was held
    in late November. Another event, HamilCon, took place in January 2005 for furs who couldn’t make
    it to the Dunedin FurCoNZ.</p>

<h2>2005</h2>
<p>The fourth FurCoNZ was hosted by Foy at his parent’s holiday house in Taupo. Attendance was
    reported to be around 18.</p>

<h2>2006</h2>
<p>Southpaw hosted the fifth FurCoNZ, at his house in Wairakei. Attendance was reported to be just over 30.
</p>

<h2>2007-Present</h2>
<p>At this point, it became clear that attendances were far too large for a private residence and they were
    moved to camps and lodge sites. This also marked a shift to FurCoNZ being a paid event, initially just
    to cover hire of the sites, but later to include catering.</p>

<h2>2007</h2>
<p>Lex Cypher hosted the sixth FurCoNZ at the Kiwianis Lodge in Huia, West Auckland. There were around 40
    attendees.</p>

<h2>2008</h2>
<p>DarthMeow hosted the seventh FurCoNZ at Camp Rangi Woods near Palmerston North. There were around 32
    attendees.</p>

<h2>2009</h2>
<p>Staff headed by Lyctiger hosted the eighth FurCoNZ at Kokako Lodge, Hunua, South Auckland. This was the
    first FurCoNZ to include full catering, and move to a moreconvention-like structure with programmed
    events, conbadges and conbooks. Attendance was 58.</p>

<h2>2010</h2>
<p>The ninth FurCoNZ returned to Kokako Lodge, lead again by Lyctiger, expanding on the previous event with
    an impromptu raft building event, and a Singstar tournament. Attendance was 50.</p>

<h2>2011</h2>
<p>Staff, lead by Lyctiger, hosted the tenth FurCoNZ. This was the last time FurCoNZ was at Kokako Lodge, as
    the site had reached comfortable limits for attendance. Attendance was 50.</p>

<h2>2012</h2>
<p>The tenth FurCoNZ returned to Kiwianis Lodge, the site of FurCoNZ in 2007, with a staff lead by Lyctiger
    and DarthMeow. Attendance was 50.</p>

<h2>2013/2014</h2>
<p>The FurcoNZ event for the 2013/2014 summer season was held over February 6 – 9, 2014 (Waitangi Day
    weekend)</p>
<p>Dates: Feb 6 – 9</p>
<p>Location: Brookfield Outdoor Education Centre, Wainuiomata, Wellington.</p>
<p>Attendance: Official – 52</p>
<p>Cost of Registration: early registration NZ$99.00 (including accommodation and food).</p>
<ul>
    <li>Staff:
        <ul>
            <li>Lead Organizer: Nimble Squirrel</li>
            <li>Graphics/Admin/Promotions: Kendravixie</li>
            <li>Kitchen Team: lyctiger, Rakuza, Thipher</li>
            <li>Safety/Lifeguard/First Aid: Shorty</li>
            <li>Security: Dottar</li>
            <li>Consultant: lyctiger</li>
            <li>Website hosting/admin: DarthMeow</li>
        </ul>
    </li>
</ul>

<h2>2015</h2>
<p>Unfortunately the organiser for 2015 had to step down due to personal reasons.</p>

<h2>2016</h2>
<p>FurcoNZ 2016 was held over the Waitangi weekend (February 5-8, 2016), at the Brookfield Outdoor Education
    Centre in the heart of Moores Valley in
    Wainuiomata, forty minutesâ drive from Wellington.</p>
<ul>
    <li>Staff:
        <ul>
            <li>Lead Organizer: Nimble Squirrel</li>
            <li>Graphics/Admin/Promotions: Kendravixie</li>
            <li>Kitchen Team: Kasmkat, PoisonedMisery, Izzy</li>
            <li>Safety/Lifeguard/First Aid: Shorty</li>
            <li>Security: DarthMeow, Lexcypher</li>
            <li>Website hosting/admin: DarthMeow</li>
        </ul>
    </li>
</ul>

<h2>2017</h2>
<p>FurcoNZ 2017 was held over the Waitangi weekend (February 3-6, 2017), at MiCamp
    Taupo. The theme of the convention was “Pirates of Lake Taupo”.</p>
<ul>
    <li>Dates: Feb 3 – 6</li>
    <li>Location: MiCamp Taupo, Taupo</li>
    <li>Attendance: Official – 86 Overnight | 4 Day Passes</li>
    <li>Cost of Registration:
        <ul>
            <li><b>Event</b>
                <ul>
                    <li>2 Day Basic Registration $120.00</li>
                    <li>3 Day Basic Registration $180.00</li>
                    <li>Premium Registration $200.00</li>
                    <li>Sponsor $250.00</li>
                    <li>Super Sponsor spot(s) were given to highest bidder</li>
                </ul>
            </li>
            <li><b>Day Pass</b> (Saturday or Sunday)
                <ul>
                    <li>1 Day $40.00</li>
                    <li>2 Day $80.00</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
<ul>
    <li>Staff:
        <ul>
            <li>Lead Organizer: Nimble Squirrel</li>
            <li>Graphics/Admin/Promotions: Kendravixie</li>
            <li>Hospitality Team: Kasmkat, Sherk</li>
            <li>Events: Lupa</li>
            <li>Safety/Lifeguard/First Aid: Shorty</li>
            <li>Security: DarthMeow, LexCypher, PoisonedMisery</li>
            <li>Website hosting/admin: DarthMeow</li>
        </ul>
    </li>
</ul>

<h2>2018</h2>
<p>FurCoNZ 2018 was held at MiCamp, Taupo over Waitangi Weekend (February 2-5, 2018). The theme was
    “1988” and encouraged everyone to dress 1980s</p>
<ul>
    <li>Dates: Feb 2 – 5</li>
    <li>Location: MiCamp Taupo, Taupo</li>
</ul>
<ul>
    <li>Staff:
        <ul>
            <li>Lead Organizer: Nimble Squirrel</li>
            <li>Graphics/Admin/Promotions: Kendravixie</li>
            <li>Hospitality Team: Kasmkat, Sherk</li>
            <li>Events: Lupa</li>
            <li>Safety/Lifeguard/First Aid: Shorty</li>
            <li>Security: DarthMeow, LexCypher, PoisonedMisery</li>
            <li>Website hosting/admin: DarthMeow</li>
        </ul>
    </li>
</ul>

<h2>2020</h2>
<p>TBA</p>
