@{
ViewData["Title"] = "FAQ";
}

<h1>Frequently Asked Questions</h1>

<h5>What, Where, and When</h5>
<ul>
    <li><a href="#what">What is "FurCoNZ"?</a></li>
    <li><a href="#furry">What is 'Furry'?</a></li>
    <li><a href="#opento">Is FurCoNZ open to others who may not consider themselves 'Furry'?</a></li>
    <li><a href="#where">Where is FurCoNZ being held?</a></li>
    <li><a href="#when">When will it be held?</a></li>
</ul>

<h5>Registration</h5>
<ul>
    <li><a href="#reg">What are the registration types for FurCoNZ?</a></li>
    <li><a href="#age">Is there an age limit for FurCoNZ?</a></li>
    <li><a href="#capacity">Is there a capacity limit for FurCoNZ?</a></li>
    <li><a href="#minors">Are minors allowed to attend FurCoNZ?</a></li>
    <li><a href="#cost">How much does it cost?</a></li>
    <li><a href="#expenses">Why is this so expensive compared with previous FurCoNZ events?</a></li>
    <li><a href="#payment">What payment methods do you accept for FurCoNZ?</a></li>
    <li><a href="#cancel">What is the cancellation policy?</a></li>
    <li><a href="#payfor">Can I pay for someone else's registration?</a></li>
    <li><a href="#multipay">I cannot pay in one go, can I make multiple payments/pay in installments?</a></li>
</ul>

<h5>Activities</h5>
<ul>
    <li><a href="#activities">What will be the activities and events for FurCoNZ?</a></li>
</ul>

<h5>Catering</h5>
<ul>
    <li><a href="#catered">So this is a fully catered event, what are included with our meals?</a></li>
    <li><a href="#dietary">Can you cater for my significant allergy/specific dietary requirement?</a></li>
    <li><a href="#discount">Can I get a discount if I sort my own meals?</a></li>
</ul>

<h5>Terms & Conditions/Code of Conduct</h5>
<ul>
    <li><a href="#alcohol">What is the policy on alcohol?</a></li>
    <li><a href="#smoking">What is the policy on smoking?</a></li>
</ul>

<h5>Everything Else</h5>
<ul>
    <li><a href="#bring">What should I bring/pack to FurCoNZ?</a>`</li>
    <li><a href="#netaccess">Will there be net access onsite?</a></li>
    <li><a href="#contact">What are the contact details for the organizers/staff of FurCoNZ?</a></li>
</ul>

<p>
    <h2>What, Where and When:</h2>
</p>
<p><a id="what">
        <h3>What is "FurCoNZ"?</h3>
    </a></p>

<p>FurCoNZ is the annual camp/convention of the New Zealand Furry community, for all things that are "furry", that is
    typically held around summer each year.</p>
<p>Unlike most other furry conventions/gatherings that are held overseas, us Kiwis like to keep things simple and
    informal. Also, we like to enjoy the clean, green New Zealand outdoors and a lot of activities and events reflect
    this fact. For FurCoNZ 2009, 2010 and 2011 we arranged and offered activities such as archery, abseiling, kayaking
    and hiking for our participants.</p>
<p>For the less outdoor keen types we also have a dedicated Art Space, a gaming area and we will be screening
    Furry-related shows and movies, so there is something for everyone to enjoy while at FurCoNZ.</p>

<p><a id="furry">
        <h3>What is 'Furry'?</h3>
    </a></p>
<p>The answer to that question is rather complicated and differs from person to person. In broad terms it is people who
    are fans of Anthropomorphics. For more than that, we defer to <a href="http://whatisfurry.org">WhatIsFurry</a>.</p>

<p><a id="opento">
        <h3>Is FurCoNZ open to others who may not consider themselves 'Furry'?</h3>
    </a></p>
<p>Of course. We welcome anyone who is interested in joining in the fun, be they Furry, Brony, Otherkin, or just not
    sure. The only caveat to this is that they must comply with the 
    <a asp-area="" asp-controller="Home" asp-action="Terms">Terms and Conditions</a>. 
    Those who wish to cause trouble will not be welcome.
</p>

<p><a id="where">
        <h3>Where is the next FurCoNZ being held?</h3>
    </a></p>
<p>FurCoNZ will be held at the Forest Lakes Camping and Conference Center. The address is: 156 Forest Lakes Road, Otaki,
    NEW ZEALAND
    As the name of the site suggests, it is not a hotel typical of most overseas furry conventions/gatherings. This is a
    camp (similar to events like Camp Feral), with shared cabins, a communal dining area and shared toilet and shower
    facilities.</p>

<p><a id="when">
        <h3>When will it be held?</h3>
    </a></p>
<p>FurCoNZ will be held from Thursday 30th January to Sunday 2nd February 2020.</p>

<p>
    <h2>Regarding Registration:</h2>
</p>
<a id="reg">
    <p>
        <h3>What are the registration types for FurCoNZ?</h3>
    </p>
</a>
<p>This year represents a significant change in pricing for FurCoNZ, and registraton will be based around key
    accommodation types that we will offer:
</p>
<p>"Three Day Basic Registration" - this covers the entire FurcoNZ: bunkroom accommodation (Thursday to Saturday
    nights), fully catered meals: breakfast, lunch and dinner for Friday and Saturday; breakfast and luch for Sunday (8
    main meals), and access to scheduled activities, panels, dances and lodge site area during the entire weekend.
    Please note: due to bunkroom sizes, we are unable to accommodate specific cabin assignment requests with this
    option.
</p>
<p>
    "Premium Registration" - this covers the entire FurCoNZ, but with accommodation in the Waitawa Lodge. Each lodge has
    its own shared toilet and shower facilities as well as its own communal lounge and kitchenette, and the lodges
    include twin share private bedrooms. This option includes fully catered meals: supper for Thursday; breakfast, lunch
    and dinner for Friday and Saturday; breakfast and lunch for Sunday (8 main meals), and access to scheduled
    activities, panels, dances and lodge site area during the entire weekend.
</p>
<p>
    "Sponsor Registration" - this covers the entire FurcoNZ (as per above) + more! Including: goodie bag, first-in-line
    and extra goodies for meal services, housing in the premium Lake Lodges, plus more benefits, such as preferential
    treatment to events. (details to be finalized)
</p>
<p>
    "Super Sponsor Registration" -this is for a Sponsors (or Sponsors) who wish to go the extra mile for FurCoNZ. This
    covers the Sponsors perks (as per above) + more! Including: housing in the premium Lake Lodges with bedding and
    towels provided, customised con-badge, customised con T-shirt, plus even more benefits.
</p>
<p>
    "Day Pass" - this covers entry for Friday and/or Saturday from 9am until 9pm. You will have access to scheduled
    activities, panels, and common areas for the day(s) that you are visiting. Day Pass visitors can join us for Lunch
    and Dinner.
</p>

</p>
<p>

    <p>
        <h3><a id="age">Is there an age limit for FurCoNZ?</a></h3>
    </p>
    <p>Yes. For FurCoNZ, we have implemented the following age limits:
    </p>
    <p>
        For "Full Event" registration (those staying at lodge site for the whole weekend), unaccompanied attendees must
        be 16 years of age or older before the start of FurCoNZ (30th Jan 2020).
    </p>
    <p>
        For "Day-Pass" registration (those only attending during the day and not staying overnight), unaccompanied
        attendees must be 14 years of age or older before the start of FurcoNZ (30th Jan 2020).
    </p>
    <p>

        <p>
            <h3><a id="minors">Are Minors allowed to attend FurCoNZ?</a></h3>
        </p>
        Unaccompanied minors (ie. attendees under the age of 18 at the start of FurCoNZ) must provide a 
        <a asp-area="" asp-controller="Home" asp-action="/ParentalConsent">Parental Consent Form</a> signed by a
        parent or legal guardian*. This form will be confirmed by a member of FurCoNZ staff.
    </p>
    <p>
        <a asp-area="" asp-controller="Home" asp-action="/ParentalConsent">View the Parental Consent Form</a>
    </p>
    <p>
        Attendees under the specified age limits must be accompanied by a parent or legal guardian. Please be aware
        separate registration fees <u>must</u> be paid for both the minor attendee and the accompanying parent or legal
        guardian.
    </p>
    <p>
        *A Legal Guardian is a guardian approved or appointed by the Family Court, or a testamentary guardian (ie. a
        guardian appointed by a Will)
    </p>
    <p>
        <b>NOTE: Attempts to circumvent this process, will void your FurCoNZ registration. There will be NO
            exceptions.</b>
    </p>
    <p>
        As part of sign-in on-site, FurCoNZ staff will need to see photo identification. Valid forms of photo
        identification include: passport, driver’s license, 18+ card, or other government-issued identification. Please
        ensure you have at least one of these forms of identification with you. We do not accept photocopies or
        printouts. Failure to provide valid ID will delay your sign-in.
    </p>
    <p>
        If you have any questions regarding the age limit/restrictions for FurCoNZ please don't hesitate to contact us.
    </p>

    <p>
        <h3><a id="capacity">Is there a capacity limit for FurCoNZ?</a></h3>
    </p>
    <p>Yes. We will be limiting full registrations (those that are staying at the site) to a set amount, to ensure the
        comfort of all attendees staying at the lodge site.</p>
    <p>There is also a limit to the number of Sponsor registrations due to the number of rooms available in the
        Sponsor's Cabin.</p>
    <p>However, we welcome anyone to register for a "Day-Pass" (those that won't be staying at the site during the
        weekend) and at this stage there is no set limit for Day Passes.</p>

    <p>
        <h3><a id="cost">How much does it cost?</a></h3>
    </p>
    <p>We aimed to keep registration costs for the next event similar to previous FurcoNZ events, however as prices had
        been held at this level for the past few FurCoNZ events we had to make some price rises to make FurCoNZ
        sustainable.</p>
    <ul>
        <li>Full Event – Three Day Basic Registration (available until 16th January, 2020) - NZ$195.00</li>
        <li>Full Event - Premium Registration (available until 9th January, 2020) - NZ$240.00</li>
        <li>Full Event – SPONSOR (fully paid by 13th December, 2019) - NZ$330.00</li>
        <li>Full Event – SUPERSPONSOR (fully paid by 13th December, 2019) - NZ$750.00</li>
    </ul>
    <ul>
        <li>1 Day Day-Pass (Friday or Saturday) - NZ$50.00</li>
        <li>2 Days Day-Pass (Friday and Saturday) - NZ$100.00</li>
    </ul>
</p>

<p>
    <h3><a id="expenses">Why is this so expensive compared with previous FurCoNZ events?</a></h3>
</p>
<p>There are three parts to this anwswer:

<ol>
    <li>
    With the shift to a fully catered sites in 2017, the organisers endeavoured to keep ticket prices as low as
    possible while trying to offer the best experience possible. While the event was a success for the community, it did
    make a loss which was absorbed by the organisers, personally. FurCoNZ organizers do not profit from FurCoNZ. We aim
    to cover expenses, and leave a small portion remainder for a site deposit for the following event. Contrary to
    popular belief, FurCoNZ organizers and FurCoNZ Staff pay for their registrations as any other attendee (some even
    choose the sponsor options).
    </li>
    
    <li>FurCoNZ remains one of the only Furry Conventions in the world to offer accommodation and food as part of
    registration. Catering has been a significant issue in arranging past FurCoNZ events. We have relied on volunteers
    in the community to give up their weekend to cater for FurCoNZ. As FurCoNZ grows, the pressure on volunteer kitchen
    staff has grown, and it has become harder and harder to find volunteers for this. While Forest Lakes offeres
    catering, this comes at extra expense.
    </li>
    
    <li>We surveyed attendees after the previous FurCoNZ events and found that there was a significant majority that
    wanted to see an increase in the quality of accommodations. We believe that we have found a good solution to this
    with Forest Lakes, but this increase in quality also comes with a higher price. We firmly believe, however, that
    this remains significantly cheaper than the accommodation costs for a typical Hotel-based Convention.
    </li>
</ol>
<p>
    Full Event registrations must be paid in full by 16th January 2020.
</p>


<p>
    <h3><a id="payment">What payment methods do you accept for FurCoNZ?</a></h3>
</p>
<p>Our preferred payment method is via direct bank transfer/deposit. We will also make allowances for those who wish to
    make payments via Stripe.
</p>
<p>
    We will NOT be accepting any on-site (cash) payments for "Full Event" registrations.</p>

<p>
    <h3><a id="cancel">What happens if I change my mind, or if due to unforeseen circumstances I can't attend in short
            notice?</a></h3>
</p>
<p>Registration is fully refundable until one month before the start of the event (30th December, 2019). After this
    time, registrations are not necessarily refundable, but are transferable. Refunds closer to the start of the event
    will be made on a case-by-case basis only. Please contact FurCoNZ staff if you have any questions.
</p>

<p><a id="payfor">
        <h3>Can I pay for someone else's registration, or can someone else pay for mine?</h3>
    </a>
</p>
<p>Yes, but please be aware that the payer is bound by our refund policy and that the attendee must agree to,
    and comply with the FurCoNZ <a asp-area="" asp-controller="Home" asp-action="Terms">Terms and
        Conditions</a>.</p>

<p><a id="multipay">
        <h3>I cannot pay in one go, can I make multiple payments/pay in instalments?</h3>
    </a></p>
<p>We prefer full payments, however we understand that individual situations may vary. We can work out
    payment by instalments on a strictly case-by-case basis. FurCoNZ Staff must be contacted before
    registration occurs. For Full Event registrations, final payment must be made by the close of
    registrations (16th January 2020).
</p>


<p>
    <h2>Regarding Activities:</h2>
</p>
<p>
    <h3><a id="activities">What will be the activities and events for FurCoNZ?</a></h3>
</p>
<p>We are in the process of organizing activities/events for this year. If there is something you wish to
    see, please make use of the poll or the forums to make recommendations.
</p>

<p>
    There are a number of suggestions being worked through, such as artists panels, fursuiting, outdoor
    games (predator/prey, sirens), movie night, etc.
    We want to make this a great Con for you, so tell us what you'd like to see or do.
</p>
<p>
    In addition to FurCoNZ events, there will be a number of activities run by Forest Lakes. Some of these
    activites will attaract extra charges to cover costs and will require registration. (Kayaking, Horse
    Riding, etc)
</p>

<br><br>

<p>
    <h2>Regarding Catering/Food:</h2>
</p>

<p>
    <h3><a id="catered">So this is a fully catered event, what are included with our meals?</a></h3>
</p>
<p>Meals are made fresh onsite by Forest Lakes. We will be providing 8 main meals in total:</p>
<ul>
    <li>Friday – Breakfast, Lunch and Dinner</li>
    <li>Saturday – Breakfast, Lunch and Dinner</li>
    <li>Sunday – Breakfast, Lunch</li>
</ul>
<p>
    Breakfast will typically be bread and toast with jams and spreads, a variety of cereals and fresh
    fruits. There will be at least one cooked Breakfast served during the Con.</p>
<p>
    Lunch will typically be a variety of sandwiches, baked cookies, fresh fruit and snack-sized chip
    packs.</p>
<p>
    Dinner will typically be centred around a different regional cuisine each night with a choice of at
    least two main dishes and a salad. A simple dessert, typically including ice-cream, will also be
    provided.
</p>
<p>
    A variety of snacks and hot drinks (tea, coffee, milo, etc.) will be available all day.</p>
<p>
    We will not be stocking or serving any other snack foods.
</p>

<p>
    <h3><a id="dietary">Can you cater for my significant allergy/specific dietary requirement?</a>
    </h3>
</p>
<p>
    Forest Lakes can cater for Vegetarian, Gluten Free or Dairy Free dietary requirements. If you
    have a dietary requirement outside of this list, please contact FurCoNZ staff directly before
    registration to discuss your catering options.
</p>


<p>
    <h3><a id="discount">Can I get a discount if I sort my own meals?</a></h3>
</p>
<p>No. FurCoNZ does not presently offer self catering options. Meals are prepared in bulk, and we
    are unable to offer discounts on unconsumed portions. You are, however, welcome to bring food
    from offsite as long as waste is disposed of. While the Waitawa Lodge and Lake Lodges do have
    kitchens, these are intended for tea/coffee making and are not intended for full meal
    preparation during our stay.
</p>

<br><br>

<h2>Regarding Terms & Conditions/Code of Conduct:</h2>
<br>
Read the <a asp-area="" asp-controller="Home" asp-action="Terms">Terms and Conditions for FurCoNZ Attendees</a>

<p>
    <h3><a id="alcohol">What is the policy on alcohol?</a></h3>
</p>

<p>Normally alcohol is prohibited on the site, but we are presently in discussion with Forest Lakes
    about allowing alcohol on site. This would be a special privilege that has been granted to us,
    but it would come with rather strict conditions.</p>


<p>
    <h3><a id="smoking">What is the policy on smoking?</a></h3>
</p>
<p>
    Forest Lakes does allow smoking, but in designated areas only. There is to be no smoking indoors
    anywhere on-site (including in cabins).
</p>
<p>
    Smokers are expected to be considerate of any non-smokers present. Smokers must fully extinguish
    and dispose of their cigarette/cigar butts in the proper manner.
</p>

<h2>Regarding Everything Else:</h2>

<p><a id="bring">
        <h3>What should I bring/pack to FurCoNZ?</h3>
    </a></p>
<p>Yourself. :)</p>
<p>
    You will need to bring all bedding materials that you may require (Sleeping Bag, Pillow,
    Blanket, etc). Mattresses will be provided.
</p>
<p>
    You will need to bring enough changes of clothes for the entire Con, as there are no clothes
    washing facilities on-site. Please also make allowances for warm clothing as nights may be
    cold or the weather may turn inclement.
</p>
<p>
    You will need to bring towels (we suggest more than one) and toiletries for washing and
    personal hygiene.
</p>
<p>
    You will need to bring any personal medication you may require. If you have a severe medical
    condition, bring spare medication (eg. Inhalers, Epi-pens, Insulin). These can be left with
    the First Aid Kit in the Duty Leader cabin, for quick access in case of an emergency.
</p>
<p>
You will need to bring sunglasses, a hat, and sunscreen. New Zealand Summer sun is harsh and
sunburn is a risk even on a cloudy day.
</p>
<p>
You will need a torch.
</p>
<p>
We recommend hiking boots (for those who wish to bushwalk) and swimwear/togs (we have a
swimming pool onsite and Lake Taupo is nearby).
</p>

<p>
    <h3><a id="netaccess">Will there be net access on-site?</a></h3>
</p>
<p>There are no plans at this stage to offer net access on-site.</p>
<p>
    We hope that most attendees will use this as a reason to unplug and relax for the
    weekend.
</p>

<p><a id="contact">
        <h3>What are the contact details for the organizers/staff of FurCoNZ?</h3>
    </a></p>
<p>You can contact us via the following means: For any general enquiries:</p>
<p>FurCoNZ (at) googlegroups (dot) com</p>
<p>This FAQ page will be updated as the planning continues.</p>
