@{
    ViewData["Title"] = "";
}

<h1>FurCoNZ 2020</h1>
<p class="lead">January 30th – February 2nd</p>
<p class="lead">Forest Lakes, Ōtaki, New Zealand</p>

<p>
  FurCoNZ is New Zealand’s furry convention held in the summer in NZ!
</p>
<p>
  Join us for fun in the sun at a campground across New Zealand for fursuiting, acitivites, and dancing!
</p>

@*Include the News view*@
<partial name="News" />

@*Include the contact information view*@
<partial name="../Contact/Index" />

@*Include the subscription form view*@
<partial name="GetNotified" />
