@{
    ViewData["Title"] = "";
}

<h1>FurCoNZ 2020</h1>
<h2>January 30th – February 2nd</h2>
<h2>Forest Lakes, Ōtaki, New Zealand</h2>

<p>
  FurCoNZ is New Zealand’s furry convention held in the summer in NZ!
</p>
<p>
  Join us for fun in the sun at a campground across New Zealand for fursuiting, acitivites, and dancing!
</p>

<p>&nbsp;</p>

@*Include the News view*@
<partial name="News" />

<p>&nbsp;</p>

@*Include the subscription form view*@
<partial name="GetNotified" />
