
@{
    ViewData["Title"] = "News";
}
<div class="page-header" id="news">
    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">

<h1>News</h1>

@* TODO: Generate this content from the database *@
<h2>FurCoNZ 2020 Announced!</h2>
<small class="text-muted">Posted on August 15, 2019</small>

<p>Mark your calendars! It’s going to be the bee’s knees! FurCoNZ is scheduled for Jan 30th – Feb 2nd 2020 @@ Forest Lakes in Otaki, NZ. More information to follow!</p>

<h2>FurCoNZ 2020</h2>
<small class="text-muted">Posted on August 16, 2018</small>

<p>Thanks everyone for making FurCoNZ 2018 a success! The FurCoNZ team is taking off a year and will come back with FurCoNZ 2020. We have a lot of plans we’d like to see for 2020 and will keep you up to date with new information as it becomes available!</p>

</div>
</div>
</div>