@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="page-header" id="news">
    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">

<h1>FurCoNZ 2020 Privacy Statement</h1>

<p>We collect personal information from you, including information about your:</p>
<ul><li>Real Name (as it appears on government issued identification)
</li><li>Age
</li><li>Preferred Name (if different from above)
</li><li>Furry Name
</li><li>Contact Information
</li><li>Billing Information
</li><li>Information regarding allergies (if any)
</li><li>Information regarding significant medical conditions (if any)
</li><li>Information regarding cabin sharing preferences (if any)
</li></ul>

<p>We collect your personal information in order to:</p>
<ul><li>verify your age (as FurCoNZ has attendance age limits)
</li><li>confirm acceptance of FurCoNZ Terms and Conditions
</li><li>complete registration processes (badge issuing and cabin assignments)
</li><li>produce Health and Safety plans for individuals who have serious medical needs
</li><li>provide safe catering for those with allergies
</li></ul>

<p>Besides our FurCoNZ Staff, we share some information with Forest Lakes Camping and Conference Centre:</p>
<ul><li>name and cabin assignment for Fire and Evacuation procedures
</li><li>information regarding food allergies for the purposes of providing safe catering. 
</li></ul>

<p>Providing some information is optional. </p>
<ul><li>If you choose not to enter a Furry Name, you Real Name or Preferred Name (if you supplied one) will be printed on your badge.
</li><li>If you choose not to enter allergy information, we’ll be unable to guarantee safe catering should you have a specific allergy.
</li><li>If you choose not to enter information on serious medical conditions we’ll be unable to have medical response plans in place should an emergency arise.
</li><li>If you choose not to enter cabin sharing preferences, you will be assigned to a cabin based solely on availability we will not be able to guarantee who you will share a room with.
</li></ul>

<p>Providing your Real Name and Age, for age verification and acceptance of FurCoNZ Terms and Conditions, is not optional for attending FurCoNZ 2020.</p>

<p>You have the right to ask for a copy of any personal information we hold about you, and to ask for it to be corrected if you think it is wrong. If you’d like to ask for a copy of your information, or to have it corrected, please contact us at: <a href="mailto:info@furconz.org.nz">info@furconz.org.nz</a></p>
<p>or:</p>
<address>
FurCoNZ Committee<br>
PO Box 13846<br>
Johnsonville<br>
Wellington, 6044
</address>

</div>
</div>
</div>