@{
ViewData["Title"] = "Terms and Conditions";
}

<div class="page-header" id="terms">
    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">

            <h1>Terms and Conditions for FurCoNZ Attendees</h1>

            <h2>Guiding Principle</h2>
            <blockquote class="blockquote text-center">“Be nice to others, don’t be a jerk,<br>
                and realise that the staff are <br>
                never merely <i>suggesting</i> that you knock it off.”
            </blockquote>

            <p>Safety and security is of utmost concern to FurCoNZ staff, and the following Terms and Conditions have
                been written with that in mind.</p>

            <p>FurCoNZ will be operating as a closed site, and is considered to be a private event. The site will only
                be open to registered attendees. Attendees must wear their badges at all times in open areas of the site
                (this is any communal area that is open for access to all registered attendees – exceptions include
                cabins, ablution blocks, Staff-only areas, and out-of-bound areas).</p>

            <p>Matters concerning the Terms and Conditions listed below will be dealt with by FurCoNZ Staff in the first
                instance. We reserve the right to revoke your registration, with no refund, and ask you to leave the
                site if it is deemed an appropriate action against violations. For serious violations we also reserve
                the right to exclude you from future FurCoNZ events.</p>

            <p>Where an issue cannot be resolved, or the violation is criminal in nature, we reserve the right to call
                in local authorities.</p>

            <p><strong>Abiding by these Terms and Conditions is a requirement for attendance:</strong></p>

            <h2>General Behaviour</h2>
            <p>FurCoNZ aims to give all its participants a safe and fun environment to enjoy themselves throughout the
                event.</p>

            <p>While FurCoNZ will be operating as a closed site, and there will be age limits for attendees, we ask all
                attendees to be mindful of their behaviour in open areas of the site.</p>

            <p>During the day, as there may be younger attendees present (on Day Passes), we require that behaviour in
                open areas of the site remain PG in nature.</p>

            <p>From 9pm (the end of Day Pass admissions and front gate closure) the site will be considered a mature
                environment and greater leniency will be given to behaviour, however excessive strong language or
                indecent behaviour in open areas will not be tolerated.</p>

            <p>Specific violations can include, but are not limited to: wearing unacceptably revealing clothing, openly
                displaying adult artwork, or indecent acts.</p>

            <p>In most cases a simple verbal warning will be given first. Individuals may then be asked to leave the
                area or retire to their cabin. For extreme instances, repeated violations or blatant disregard for
                FurCoNZ staff or fellow attendees, the individual may be asked to leave the site.</p>

            <p>FurCoNZ is an event for all Furries (and Fury-adjacent attendees), regardless of race, religion, gender
                or sexual orientation. Discrimination and hate speech has no place in our community and will not be
                tolerated. </p>

            <p>Furthermore, the wearing of symbols and uniforms of hate groups, or wearing of deliberately offensive
                clothing, is prohibited.</p>

            <p>FurCoNZ reserves the right to refuse registration to individuals who have demonstrated unacceptable
                behaviour at past community events. This will be handled on a case-by-case basis.</p>

            <h2>Age Restriction</h2>
            <p>The following age limits apply to FurCoNZ registrations:</p>
            <ul>
                <li>Full Registration, for unaccompanied attendees, is restricted to attendees 16 years or older.
                </li>
                <li>Day Pass Registration, for unaccompanied attendees, is restricted to 14 years or older.
                </li>
            </ul>

            <p>Unaccompanied attendees under the age of 18 years at the start of FurCoNZ (30th January 2020), or the
                respective days for Day Pass attendees, must submit a Consent Form SIGNED BY A PARENT OR LEGAL GUARDIAN.
                Consent Forms must be verified by a member of FurCoNZ staff in order for registration to be completed.
            </p>

            <p>Attendees under the designated ages must be accompanied by a parent or legal guardian. For accompanied
                minors, separate registration fees must be paid for both the minor and the accompanying parent or legal
                guardian. This is non-negotiable.</p>

            <p>Attendees wishing to bring infants or young children on site must contact FurCoNZ staff prior to
                registration, to ensure suitable facilities and accommodations are available.</p>

            <p>FurCoNZ reserves the right to perform an ID check on all attendees during FurCoNZ. Valid forms of photo
                ID include: passport, driver’s license, 18+ card, or other government issued identification. Please
                ensure you have at least one of these forms of identification with you. Photocopies or printouts will
                <u>not</u> be accepted. Details on ID must match the details given during registration.</p>

            <p><strong>Providing false information or attempting to circumvent Age Restrictions, will void your
                    registration
                    for FurCoNZ and you will be asked to leave the site immediately.</strong></p>

            <h2>Harassment and Assault</h2>
            <p><strong>”No”</strong> and <strong>”Stop”</strong> mean exactly that.</p>
            <p>Harassment of any kind is not tolerated by FurCoNZ. This includes, but is not limited to:</p>

            <ul>
                <li>Behaviour that intentionally annoys, alarms or harms another person (physical or verbal);</li>
                <li>Inappropriate behaviour or unwanted advances;</li>
                <li>Uninvited physical contact.</li>
            </ul>

            <p>Contact a FurCoNZ staff member immediately if you feel harassed or threatened.</p>

            <p>We have ZERO TOLERANCE toward such behaviours and we reserve the right to evict any offenders
                immediately, if deemed appropriate.</p>
            <p>Any form of assault will be referred directly to local authorities (ie. NZ Police).</p>

            <h2>Smoking</h2>
            <p>FurCoNZ does allow smoking, but in designated areas only. There is to be no smoking, or vaping indoors
                anywhere on-site (including in cabins).</p>

            <p>Smokers are expected to be considerate of any non-smokers present. For avoidance of doubt, this includes
                the use of e-cigarettes or vaping.</p>

            <p>Smokers must fully extinguish and dispose of their cigarette/cigar butts in the proper manner.</p>

            <h2>Alcohol</h2>
            <p>Due to the Forest Lakes policy, alcohol is not permitted anywhere on site. For avoidance of doubt, this
                includes the possession of any alcohol that is intended to be consumed off-site.</p>

            <p>Consumption of alcohol whilst on site, including in cabins and private rooms, will not be tolerated.</p>

            <p>Violation of this will result in the confiscation of the alcohol and a warning in the first instance.
                Repeated violation may result in the cancellation of registration and eviction from site.</p>

            <p>FurCoNZ staff recognise that it has no control of the actions of attendees whilst they are off-site, but
                will be monitoring returning attendees for signs of intoxication. Attendees who are visibly intoxicated
                will be required to retire to their assigned cabin/room. Repeated violation may result in the
                cancellation of registration and eviction from site.</p>

            <p>Attendees who exhibit excessive or problematic levels of intoxication may face immediate cancellation of
                registration and eviction from site.</p>

            <h2>Illegal Substances</h2>
            <p>FurCoNZ has a ZERO TOLERANCE policy towards the possession, use, sale and/or distribution of illegal
                drugs (this also includes prescription medication used by, or in the possession of those whom it is not
                prescribed to).</p>

            <p>This includes, but is not limited to, all drugs classified under the Misuse of Drugs Act (1975) and
                substances classified under the Psychoactive Substances Act (2013).</p>

            <p>For avoidance of doubt, this covers all drugs previously classified as ‘legal highs’.</p>

            <p>Offenders will be escorted off-site immediately, and the matter will be referred to local authorities
                (ie. NZ Police).</p>

            <h2>Weapons</h2>
            <p>Weapons are not allowed at FurCoNZ. This includes, but is not limited to, edged weapons, projectile
                weapons, melee weapons, siege weapons, or firearms of any sort (including slug, BB, paintball and
                airsoft guns). If you are caught with any weapon, the offending item will be confiscated and stored away
                in a secure location and will only be returned at the end of the event.</p>

            <p>In general, weapons that are part of a costume will not normally be allowed, however those attendees
                affected are encouraged to contact FurCoNZ Staff in advance to discuss a possible solution (such as
                peace-bonding).</p>

            <p>Safe projectile-based toys, such as NERF guns and soft arrows, are permitted as long as any use is kept
                outdoors, away from buildings, and between consenting parties only. Users of these toys must tidy up any
                darts/arrows after use.</p>

            <p>Where possession of the weapon is illegal under New Zealand Law, we reserve the right to contact the
                local authorities.</p>

            <h2>Pets</h2>
            <p>Dogs are not allowed anywhere on the Forest Lakes site, the exception being guide dogs and other
                registered disability assistance animals (as per the Human Rights Act 1993 and Dog Control Act 1996).
                Please advise FurCoNZ staff upon registration if this applies to you.</p>

            <p>In general FurCoNZ does not allow other animals to be brought on-site, however requests for permission
                may be made in exceptional circumstances (eg. Exotic animals for special interest panels). Please
                contact FurCoNZ staff for further information.</p>

            <h2>Photography and Video</h2>
            <p>Photography and video recording by attendees are generally allowed, however this is subject to common
                sense, courtesy, and consent of those being photographed or recorded.</p>

            <p>Where consent is denied, photography or video recording must cease immediately.</p>

            <p>As part of ongoing promotion FurCoNZ reserves the right to gather photographs or video recordings for use
                in official photo and/or video releases (such as on the FurCoNZ website). FurCoNZ staff will endeavour
                to seek consent from those featured, but attendees who specifically do not wish to appear on these must
                advise FurCoNZ staff.</p>

            <h2>Media/Press Policy</h2>
            <p><strong>FurCoNZ does not allow any media/press presence on site.</strong></p>

            <p>FurCoNZ is a private event taking place on a closed site. All attendees have a reasonable expectation of
                privacy.</p>

            <p>Any consent to the gathering of information, photographs, video / audio recordings, or other materials
                for the purposes publication, broadcast or other mass media use is explicitly denied.</p>

            <p>Attendees who are the members, employees, agents or associates of media/press organisations must declare
                this at the time of registration, even if they may be attending in a personal capacity.</p>

            <p>Individuals and/or organisations in violation will be asked to leave the site, and FurCoNZ reserves the
                right to follow up with further legal action.</p>

            <p>We ask all other attendees to please respect the privacy of all our participants when making public posts
                or comments.</p>

            <h2>Bunkrooms and Lodges</h2>
            <p>Bunkrooms and Lodge bedrooms are considered private space.</p>
            <p>FurCoNZ reserves the right for Staff to enter bunkrooms or lodges for purposes such as, but not limited
                to, inspection, cleaning or maintenance. We will endeavour to ensure at least one resident is present
                when this occurs.</p>

            <p>Attendees are not permitted to enter bunkrooms or lodges they are not assigned to without being
                accompanied by at least one resident. Day Pass attendees are not permitted in bunkrooms or lodge
                bedrooms.</p>

            <p>All the residents in each bunkroom or lodge will be collectively responsible for the tidiness of their
                bunkroom or lodge, and they will be collectively responsible for any damage that occurs.</p>

            <p>As bunkrooms and lodges are shared, residents of each bunkroom or lodge are expected to be mindful of
                their fellow residents. Behaviours that attract the objections of any other resident must cease
                immediately.</p>

            <p>Lodges are assigned, and we will endeavour meet the accommodation requests of attendees. However, if you
                are unsatisfied with your placement please advise FurCoNZ staff and we will try to reassign you (subject
                to availability).</p>

            <p>Bunkrooms are allocated on a ‘first come, first served’ basis only. Due to the size and availability of
                bunkrooms, we are not able to accommodate specific cabin assignment requests.</p>

            <p><strong>In accordance with the Forest Lakes Fire and Evacuation Procedures, attendees are allocated to
                    rooms
                    in advance, and room lists will be used to ensure safe and complete evacuation in case of emergency.
                    Due to this, swapping bunkrooms or lodge bedrooms during the event is not permitted without the
                    express consent of FurCoNZ staff.</strong></p>

            <p>Attendees who have paid for bunkroom accommodation are not permitted to shift to lodge accommodation
                without the express consent of FurCoNZ staff.</p>

            <h2>Safety, Damage and Liability</h2>
            <p>FurCoNZ takes the safety of its attendees seriously. First Aiders are on staff, and First Aid Kits are
                available on site. All accidents, near misses, or potentially hazardous situations must be reported to
                FurCoNZ staff in the first instance or, failing that, to Forest Lakes staff.</p>

            <p>Attendees are responsible for the disclosure to FurCoNZ staff of any significant medical condition that
                may affect their stay or may affect their ability to participate in activities. This would include, but
                is not limited to, conditions such as severe allergies, epilepsy, diabetes, or asthma. Disclosures of
                this nature will be treated in strict confidence.</p>

            <p>Attendees who have significant medical conditions are responsible for bringing any medications they
                require. Where an emergency medication is required (such as an EpiPen or asthma inhaler), it is highly
                recommended that the attendee provide spare medication to FurCoNZ staff for fast access should an
                emergency arise.</p>

            <p>While FurCoNZ endeavours to take all due care, it cannot be held responsible for the choices or actions
                of its attendees.</p>

            <p>Damage to FurCoNZ or Forest Lakes property must be reported to FurCoNZ staff. Where damage is caused by
                carelessness, negligence, or wilful act, FurCoNZ reserves the right to seek costs for repairs or
                replacement from the attendee(s) involved.</p>

            <p>Attendees are responsible for any property they bring on-site. FurCoNZ cannot be held responsible for
                damage, loss or theft of personal belongings.</p>

            <h2>Complaints and Refunds</h2>
            <p>Registration is fully refundable until one month before the start of the event (30th December, 2019).
                After this time, refunds will be made on a case-by-case basis in exceptional circumstances. Where
                refunds cannot be offered, a free transfer of registration may be allowed provided the newly registered
                party can comply with FurCoNZ Terms and Conditions</p>

            <p>During the event, complaints must be made directly to FurCoNZ staff to ensure timely resolution.</p>

            <p>Complaints about any of the FurCoNZ staff must be directed to the Head Organiser only. The Head Organiser
                will then deal with staff issues internally.</p>

            <p>Outside of the event, complaints or appeals against bans must be submitted in writing to:</p>
            <address>
                FurCoNZ Committee<br>
                PO Box 13846<br>
                Johnsonville</br>
                Wellington, 6440
            </address>

            <p><strong>THESE TERMS AND CONDITIONS ARE SUBJECT TO CHANGE. CHANGES WILL BE MADE AVAILABLE ON THE FURCONZ
                    WEBSITE AND POSTED AT THE FURCONZ REGISTRATION DESK.</strong></p>

            <p><strong>Rev. 28 - 31st August 2019</strong></p>

        </div>
    </div>
</div>