
@{
    ViewData["Title"] = "Ticket";
}

<h1>Ticket Information</h1>

<div class="card  mb-3">
    <div class="card-body">
        <p class="card-title h5">Regular</p>
        <p class="card-subtitle mb-2 text-muted">Price: <strong>$199</strong>, Quantity: <strong>99+</strong></p>
        <p class="card-text">
            You will be housed in the Main Camp area, in shared bunkrooms with 4 to 6 people.
            Regular Registration includes full catering for Friday and Saturday, as well as breakfast and lunch on Sunday.
            Access to all events and main camp facilities.

            @* TODO: Add thumbnail images here for each ticket type *@
        </p>
    </div>
</div>


<div class="card mb-3">
    <div class="card-body">
        <p class="card-title h5">Premium</p>
        <p class="card-subtitle mb-2 text-muted">Price: <strong>$249</strong>, Quantity: <strong>30</strong></p>
        <p class="card-text">
            You will be housed in the Lake Lodge, in twin share rooms. The Lake Lodge features a large common area and kitchen with tea/coffee making facilities.
            Premium Registration includes full catering for Friday and Saturday, as well as breakfast and lunch on Sunday.
            Access to all events and main camp facilities.

            @* TODO: Add thumbnail images here for each ticket type *@
        </p>
    </div>
</div>

<div class="card mb-3">
    <div class="card-body">
        <p class="clrd-title h5">Sponsor</p>
        <p class="card-subtitle mb-2 text-muted">Price: <strong>$349</strong>, Quantity: <strong>15</strong></p>
        <p class="card-text">
            You will be housed in the Lakeside Villas. The Lakeside Villas are modern motel-style accomodation units for four people, with twin share bedrooms. These units feature their own lounge (with TV), kitchenette, and toilet and shower facilities.
            Premium Registration includes full catering for Friday and Saturday, as well as breakfast and lunch on Sunday.
            You will have access to all events and main camp facilities, as well as excusive access to the Sponsor's Lounge.
            As Sponsor, you will have priority access at mealtimes and have priority to limited access events, such as Archery and Kayaking.
            In addition you will have a custom YCH badge, by LupaArts, and a complimentary toiletry pack.

            @* TODO: Add thumbnail images here for each ticket type *@
        </p>
    </div>
</div>

<div class="card mb-3">
    <div class="card-body">
        <p class="clrd-title h5">Super Sponsor</p>
        <p class="card-subtitle mb-2 text-muted">
            Price: <strong>$750</strong>, Quantity: <strong>1</strong>
        </p>
        <p class="card-text">
            You will be housed in your own SuperKing room in the Lakeside Villas. The Lakeside Villas are modern motel-style accomodation units for four people each. These units feature their own lounge (with TV), kitchenette, and toilet and shower facilities.
            Premium Registration includes full catering for Friday and Saturday, as well as breakfast and lunch on Sunday.
            You will have access to all events and main camp facilities, as well as excusive access to the Sponsor's Lounge.
            As SuperSponsor, you will have priority access at mealtimes and have first in line priority to limited access events, such as Archery and Kayaking.
            In addition to a complimentary toiletry pack, you will receive a custom art badge by Nai-chan, a FurCoNZ T-Shirt, and other goodies.

            @* TODO: Add thumbnail images here for each ticket type *@
        </p>
    </div>
</div>

<div class="card mb-3">
    <div class="card-body">
        <p class="clrd-title h5">Day Pass</p>
        <p class="card-subtitle mb-2 text-muted">Price: <strong>$50 per day</strong>, Quantity: <strong>10+</strong></p>
        <p class="card-text">
            You will have access to all daytime events and main camp facilities.
            Price also includes catered lunch.

            @* TODO: Add thumbnail images here for each ticket type *@
        </p>
    </div>
</div>
