<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(ViewData["Title"] != "" ? ViewData["Title"] + " - " : "") FurCoNZ 2020</title>
    <link rel="stylesheet" href="~/css/bundle.css" />
    
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="manifest" href="/assets/site.webmanifest">
    <link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#daa420">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#daa420">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-primary box-shadow mb-3 navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    FurCoNZ
                    <img class="d-none d-lg-block navbar-brand-image" src="/assets/2020FlavourSmalldrop.png" alt="" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index" asp-active-controllers="Home" asp-active-actions="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="News" asp-active-controllers="Home" asp-active-actions="News">News</a>
                        </li>
                        <li class="nav-item dropdown">
                            <!-- <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About" asp-active-controllers="Home" asp-active-actions="About">About</a> -->
                            <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">Info</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="About" asp-active-controllers="Home" asp-active-actions="About">About FurCoNZ</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="FAQ" asp-active-controllers="Home" asp-active-actions="FAQ">FurCoNZ 2020 FAQ</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Terms" asp-active-controllers="Home" asp-active-actions="Terms">Attendee Terms & Conditions</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" href="#" asp-active-controllers="Contact" aria-haspopup="true" aria-expanded="false">Get Involved</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-controller="Contact" asp-action="ActivityOrTalk">Activity or Talk</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Contact" asp-action="DealersDen">Dealers' Den</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Contact" asp-action="Volunteer">Volunteer</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-controller="Contact" asp-action="Index">Contact Us</a>
                            </div>
                        </li>
                        <li class="nav-item" asp-authorize asp-policy="AdminOnly">
                            <a class="nav-link text-dark" asp-area="admin" asp-controller="Home" asp-action="Index">Admin</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Index" asp-active-controllers="Account">Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="Index" asp-active-controllers="Order">Order</a>
                        </li>
                    </ul>
                </div>
            </div> 
        </nav>
    </header>
    <div class="container main-container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            <div class="page-header">
                <div class="col-lg-8 offset-lg-2">
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container footer-container text-center">
            © 2019 FurCoNZ
            - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            - <a asp-area="" asp-controller="Home" asp-action="FAQ">FAQ</a>
            - <a asp-area="" asp-controller="Home" asp-action="Terms">Terms & Conditions</a>
            - <a asp-area="" asp-controller="Home" asp-action="ParentalConsent">Parental Consent Form</a>
            - <a asp-area="" asp-controller="Home" asp-action="GetNotified">Get Notified</a>
            - <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/jquery-validate/jquery.validate.js"></script>
        <script src="~/lib/jquery-validate/additional-methods.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/popper/esm/popper.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
        <script src="~/lib/date-input-polyfill/date-input-polyfill.dist.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/jquery.min.js"
                asp-fallback-src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha386-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo">
        </script>
        <script src="~/lib/jquery-validate/jquery.validate.min.js"
                asp-fallback-src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"
                integrity="sha384-6UVI3atWyL/qZbDIJb7HW8PyHhFNMiX5rYNY2gAYcaYJjYk5cNIQShSQPBleGMYu"
                crossorigin="anonymous">
        </script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
                asp-fallback-src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"
                integrity="sha384-R3vNCHsZ+A2Lo3d5A6XNP7fdQkeswQWTIPfiYwSpEP3YV079R+93YzTeZRah7f/F"
                crossorigin="anonymous">
        </script>
        <script src="~/lib/jquery-validate/additional-methods.min.js"
                asp-fallback-src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/additional-methods.min.js"
                integrity="sha384-+9oZBwhpg6hNnpXhuEkmAUXP1YGXnRZEH7KB6j6u73Ugx0YNlB/EdaNAs5mihho5"
                crossorigin="anonymous">
        </script>
        <script src="~/lib/popper/esm/popper.min.js"
                asp-fallback-src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/esm/popper.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha386-5HEWXrkKXcqlOE/55jdNhboh8+/j5zzLWC3CbqZVdEVxjCRDIl+5N7cVfpX/bM6D">
        </script>
        <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"
                asp-fallback-src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha386-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
        <script src="~/lib/date-input-polyfill/date-input-polyfill.dist.js"
                asp-fallback-src="https://unpkg.com/date-input-polyfill@2.14.0/date-input-polyfill.dist.js"
                crossorigin="anonymous"
                integrity="sha384-fTgm+s0mz0wgL3gvJ8qu/uz+uAZxL51k7w9K18+UP9VrrR4ZbE3SIEyyOuInlpxN">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
