@model OrderIndexViewModel
@{
    ViewData["Title"] = "Order Tickets";
}

@if (!Model.AvailableTicketTypes.Any() || Model.AvailableTicketTypes.Sum(tt => tt.Value.TotalAvailable) <= 0)
{
    <div class="text-center">
        <h1>Tickets are not yet available!</h1>
        <p>Check back soon!</p>
    </div>
}
else
{
    <div class="card">
        <div class="card-header">
            <p class="h4">Make Your Selection</p>
        </div>
        <div class="card-body">
            <form asp-action="Index" method="post">
                <table class="table table-light">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Tickets Remaining</th>
                            <th scope="col">Quantity Ordered</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ticketType in Model.AvailableTicketTypes)
                        {
                            <tr>
                                <th scope="row">@ticketType.Value.Name</th>
                                <td>$@((ticketType.Value.PriceCents / 100).ToString("f2"))</td>
                                <td>@ticketType.Value.TotalAvailable remaining</td>
                                <td>
                                    <input class="form-control" asp-for="AvailableTicketTypes[ticketType.Key].QuantityOrdered" min="0" max="@ticketType.Value.TotalAvailable" />
                                </td>
                                <td>
                                    <a class="btn btn-outline-primary btn-sm" data-toggle="collapse" href="#ticketdetails-@ticketType.Key" role="button" aria-expanded="false" aria-controls="ticketdetails-@ticketType.Key">
                                        More Info
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="p-0 border-top-0">
                                    <div class="collapse" id="ticketdetails-@ticketType.Key">
                                        <div class="card card-body">
                                            @Html.Raw(ticketType.Value.Description) @* SECURITY: This is an XSS vector. Do not allow untrusted input. See #119 for details. *@
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary float-md-right">Details &gt;</button>
            </form>
        </div>
    </div>
}
