    <environment names="Development,Staging">
        <div class="card bg-danger">
            <div class="card-body">
                The strip ViewCompoennt is not being used correctly.
            </div>
        </div>
    </environment>
