<environment names="Development,Staging">
    <div class="card bg-danger">
        <div class="card-body">
            The direct payment ViewCompoennt is not being used correctly.
        </div>
    </div>
</environment>
