@model StripeChargeViewModel
@inject Microsoft.Extensions.Options.IOptions<FurCoNZ.Web.Configuration.StripeSettings> Stripe

<div class="card">
    <div class="card-body">
        <h5 class="h5 card-title">Pay with Stripe</h5>
        <p class="card-text">
            Stripe supports Credit/Debit cards, Apple Pay, and uh... magic!
        </p>

        <table class="table table-light">
            @if (Model.Fee > 0)
            {
                <tr>
                    <th scope="row" class="text-right">Stripe convenience fee</th>
                    <td>@Model.Fee.ToString("C")</td>
                </tr>
            }
            <tr>
                <th scope="row" class="text-right">Total</th>
                <td>@Model.Total.ToString("C")</td>
            </tr>
        </table>
        
        @if (Model.Fee > 0)
        {
            <p class="card-text">
                <i>Please note that an convenience fee has been included.</i>
            </p>
        }
        <button id="payWithStripeButton" type="button" class="btn btn-primary float-right" data-session-id="@Model.CheckoutSessionId" data-stripe-key="@Stripe.Value.PublishableKey">Pay with Stripe</button>

        <script src="https://js.stripe.com/v3/"></script>
    </div>
</div>